<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/common::common('查看角色')"/>
    <script>
        layui.use(['form'], function () {
            form = layui.form;
            form.render();
        });
    </script>
</head>
<body>

<form class="layui-form" id="seeRoleInfoForm" th:object="${roleInfo}">
    <div class="layui-form-body-see">

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            部门id
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="deptId" name="deptId" th:field="*{deptId}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            角色名称
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="title" name="title" th:field="*{title}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            描述
                        </label>
                        <div class="layui-input-block">
                        <textarea id="remarks" name="remarks" th:field="*{remarks}" maxlength="200"
                                  readonly="readonly"
 autocomplete="off"
                                  class="layui-textarea"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            客户端
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="clientId" name="clientId" th:field="*{clientId}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>
    </div>
</form>

</body>
</html>