<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/common::common('代码生成业务表管理')"/>
    <script th:src="@{/static/tools/list.js}" charset="utf-8"></script>
</head>
<body class="bg-color">
<div class="body_info">
    <div class="data_div">
        <!-- 表格 -->
        <div class="layui_table">
            <table class="layui-hide" id="layTable" lay-filter="layTableFilter"></table>
        </div>
    </div>
</div>

<!-- 操作工具栏 -->
<script type="text/html" id="toolbarHandle">
    <button type="button" class="tool-bar-btn" lay-event="import">导入
    </button>
</script>


<script type="text/html" id="toolbarDemo">
    <div class="tool-head-bar">
        <input class="layui-input float_left" placeholder="表名称"
               id="name" name="name" autocomplete="off">
        <button class="layui-btn layui-btn-sm layui-btn-normal search-btn float_left"
                data-type="reload" id="searchBtn">
            <i class="layui-icon layui-icon-search" style="margin-right: 3px"></i>搜索
        </button>
        <button class="layui-btn layui-btn-sm layui-btn-normal add-btn"
                id="btn_generate">
            <i class="layui-icon layui-icon-addition"></i>批量导入
        </button>
        <button type="button" class="layui-btn layui-btn-sm layui-btn-normal go-back-btn"
                onclick="goBackPreviousPage()">
            <i class="layui-icon layui-icon-prev"></i>返回
        </button>
    </div>
</script>

</body>
</html>