<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <th:block th:include="common/common::common('应用管理')"/>
    <script th:src="@{/static/admin_v1/app/index.js}" charset="utf-8"></script>

    <style>

        .fly-page-top {
            background-color: #ffffff;
            margin: 1.0em;
            padding: 10px;
        }

        .fly-query-box {
            background-color: #ffffff;
            padding: 10px;
        }

        .fly-footer-center {
            text-align: center;
            margin-top: 10px;
        }

        .fly-page-title {
            margin: 10px;
            font-size: 30px;
            height: 40px;
            text-align: center;
            font-family: 黑体;
            font-weight: bold;
        }

        .fly-search-btn {
            margin-bottom: 5px;
            width: 100px;
            border-radius: 3px;
        }

    </style>


</head>
<body class="bg-color">
<div class="main-container">

    <!-- 查询 -->
    <div class="query-container">
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <div class="layui-colla-title">条件查询</div>
                <div class="layui-colla-content layui-show" style="background-color: #FFFFFF">
                    <form class="layui-form">
                        <div class="layui-form-item">


<!--                            <div class="layui-inline">-->
<!--                                <label class="layui-form-label">应用标识码</label>-->
<!--                                <div class="layui-input-inline">-->
<!--                                    <input type="text" class="layui-input search-keypress-listen" placeholder="应用标识码(配置中客户端ID)"-->
<!--                                           id="appCode" name="appCode" autocomplete="off">-->
<!--                                </div>-->
<!--                            </div>-->


<!--                            <div class="layui-inline">-->
<!--                                <label class="layui-form-label">秘钥(备用)</label>-->
<!--                                <div class="layui-input-inline">-->
<!--                                    <input type="text" class="layui-input search-keypress-listen" placeholder="秘钥(备用)"-->
<!--                                           id="appSecret" name="appSecret" autocomplete="off">-->
<!--                                </div>-->
<!--                            </div>-->


                            <div class="layui-inline">
                                <label class="layui-form-label">应用名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input search-keypress-listen" placeholder="应用名称"
                                           id="appTitle" name="appTitle" autocomplete="off">
                                </div>
                            </div>


<!--                            <div class="layui-inline">-->
<!--                                <label class="layui-form-label">应用类型</label>-->
<!--                                <div class="layui-input-inline">-->
<!--                                    <select id="appType" name="appType" th:with="dicts=${@dict.data('yes_or_no')}">-->
<!--                                        <option value="">请选择应用类型</option>-->
<!--                                        <option th:each="dict : ${dicts}"-->
<!--                                                th:text="${dict.label}"-->
<!--                                                th:value="${dict.value}">-->
<!--                                        </option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                            </div>-->


<!--                            <div class="layui-inline">-->
<!--                                <label class="layui-form-label">应用类型名称</label>-->
<!--                                <div class="layui-input-inline">-->
<!--                                    <input type="text" class="layui-input search-keypress-listen" placeholder="应用类型名称"-->
<!--                                           id="appTypeTitle" name="appTypeTitle" autocomplete="off">-->
<!--                                </div>-->
<!--                            </div>-->


<!--                            <div class="layui-inline">-->
<!--                                <label class="layui-form-label">平台ID</label>-->
<!--                                <div class="layui-input-inline">-->
<!--                                    <input type="text" class="layui-input search-keypress-listen" placeholder="平台ID"-->
<!--                                           id="platformId" name="platformId" autocomplete="off">-->
<!--                                </div>-->
<!--                            </div>-->


<!--                            <div class="layui-inline">-->
<!--                                <label class="layui-form-label">平台名称</label>-->
<!--                                <div class="layui-input-inline">-->
<!--                                    <input type="text" class="layui-input search-keypress-listen" placeholder="平台名称"-->
<!--                                           id="platformTitle" name="platformTitle" autocomplete="off">-->
<!--                                </div>-->
<!--                            </div>-->


<!--                            <div class="layui-inline">-->
<!--                                <label class="layui-form-label">访问地址</label>-->
<!--                                <div class="layui-input-inline">-->
<!--                                    <input type="text" class="layui-input search-keypress-listen" placeholder="访问地址"-->
<!--                                           id="askUrl" name="askUrl" autocomplete="off">-->
<!--                                </div>-->
<!--                            </div>-->


<!--                            <div class="layui-inline">-->
<!--                                <label class="layui-form-label">首页地址</label>-->
<!--                                <div class="layui-input-inline">-->
<!--                                    <input type="text" class="layui-input search-keypress-listen" placeholder="首页地址"-->
<!--                                           id="homeUrl" name="homeUrl" autocomplete="off">-->
<!--                                </div>-->
<!--                            </div>-->


<!--                            <div class="layui-inline">-->
<!--                                <label class="layui-form-label">SVN地址</label>-->
<!--                                <div class="layui-input-inline">-->
<!--                                    <input type="text" class="layui-input search-keypress-listen" placeholder="SVN地址"-->
<!--                                           id="svnUrl" name="svnUrl" autocomplete="off">-->
<!--                                </div>-->
<!--                            </div>-->


<!--                            <div class="layui-inline">-->
<!--                                <label class="layui-form-label">图标</label>-->
<!--                                <div class="layui-input-inline">-->
<!--                                    <input type="text" class="layui-input search-keypress-listen" placeholder="图标"-->
<!--                                           id="icon" name="icon" autocomplete="off">-->
<!--                                </div>-->
<!--                            </div>-->


<!--                            <div class="layui-inline">-->
<!--                                <label class="layui-form-label">是否启用1-是;0-否</label>-->
<!--                                <div class="layui-input-inline">-->
<!--                                    <input type="text" class="layui-input search-keypress-listen" placeholder="是否启用1-是;0-否"-->
<!--                                           id="state" name="state" autocomplete="off">-->
<!--                                </div>-->
<!--                            </div>-->


<!--                            <div class="layui-inline">-->
<!--                                <label class="layui-form-label">主题类型</label>-->
<!--                                <div class="layui-input-inline">-->
<!--                                    <select id="themeType" name="themeType" th:with="dicts=${@dict.data('yes_or_no')}">-->
<!--                                        <option value="">请选择主题类型: LayuiAdmin,OkAdmin</option>-->
<!--                                        <option th:each="dict : ${dicts}"-->
<!--                                                th:text="${dict.label}"-->
<!--                                                th:value="${dict.value}">-->
<!--                                        </option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                            </div>-->


<!--                            <div class="layui-inline">-->
<!--                                <label class="layui-form-label">是否黑白色</label>-->
<!--                                <div class="layui-input-inline">-->
<!--                                    <input type="text" class="layui-input search-keypress-listen" placeholder="是否黑白色"-->
<!--                                           id="blackWhite" name="blackWhite" autocomplete="off">-->
<!--                                </div>-->
<!--                            </div>-->

                            <div class="layui-inline">
                                <button type="submit" class="layui-btn layui-btn-sm query-handle-button"
                                        lay-submit lay-filter="queryAppClient">
                                    <i class="layui-icon layui-icon-search search-icon"></i>查 询
                                </button>
                                <button type="reset" class="layui-btn layui-btn-sm query-handle-button">
                                    <i class="layui-icon layui-icon-refresh search-icon"></i>重 置
                                </button>
                                <button  type="submit" class="layui-btn layui-btn-sm query-handle-button"
                                         lay-submit lay-filter="expAppClient">
                                    <i class="layui-icon layui-icon-export search-icon"></i>导 出
                                </button>
                            </div>

                        </div>

<!--                        <div class="query-footer-center">-->
<!--                            <button type="submit" class="layui-btn layui-btn-sm query-handle-button"-->
<!--                                    style="width: 120px;letter-spacing: 5px" lay-submit lay-filter="queryAppClient">-->
<!--                                <i class="layui-icon layui-icon-search icon-right-5"></i>查询-->
<!--                            </button>-->
<!--                            <button type="reset" class="layui-btn layui-btn-sm query-handle-button" style="width: 120px" >-->
<!--                                <i class="layui-icon layui-icon-refresh icon-right-5"></i>重 置-->
<!--                            </button>-->
<!--                            <button type="submit" class="layui-btn layui-btn-sm query-handle-button"-->
<!--                                     lay-submit lay-filter="expAppClient"  style="width: 120px" >-->
<!--                                <i class="layui-icon  layui-icon-export icon-right-5"></i>导 出-->
<!--                            </button>-->
<!--                        </div>-->

                    </form>

                </div>
            </div>
        </div>
    </div>

    <!-- 页面数据展示 -->
    <div class="table-container">
        <div class="table-title">
            <span>查询结果</span>
        </div>
        <table class="layui-hide" id="layTable" lay-filter="layFilter"></table>
    </div>

</div>



<!-- 表头工具栏 -->
<script type="text/html" id="toolbar">
    <div class="tool-head-bar">
        <button  class="layui-btn layui-btn-sm tool-bar-btn addition-button"
                lay-event="saveAppClient">
            <i class="layui-icon layui-icon-addition  icon-right-5"></i>新增
        </button>
    </div>
</script>

<!-- 操作工具栏 -->
<script type="text/html" id="toolbarHandle">
    <button  class="tool-bar-btn see-button" lay-event="view">
        <i class="layui-icon layui-icon-list icon-right-5"></i>查看
    </button>
    <button  class="tool-bar-btn edit-button" lay-event="update">
        <i class="layui-icon layui-icon-edit icon-right-5"></i>编辑
    </button>
    <button  class="tool-bar-btn remove-button" lay-event="delete">
        <i class="layui-icon layui-icon-delete icon-right-5"></i>删除
    </button>
</script>
</body>
</html>