package ${package}.mapper;

import ${package}.entity.${ClassName};
import ${package}.sdk.query.${ClassName}Query;
import ${package}.sdk.vo.${ClassName}Vo;
import tk.mybatis.mapper.common.Mapper;

import java.util.List;

/**
 * ${functionName} 持久层接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Mapper extends Mapper< ${ClassName} > {

    /***
     * 查询集合
     *
     * @author ${author}
     * @date ${datetime}
     * @param params params
     * @return ${package}.sdk.vo.${className}Vo
     */
    List< ${ClassName}Vo > page(${ClassName}Query params);



    /***
     * 批量添加
     *
     * @author ${author}
     * @date ${datetime}
     * @param list java.util.List<${package}.entity.${ClassName}>
     */
    void  batchSave(List< ${ClassName} > list);

    /***
     * 批量修改
     *
     * @author ${author}
     * @date ${datetime}
     * @param list java.util.List<${package}.entity.${ClassName}>
     */
    void batchUpdate(List< ${ClassName} > list);

}
