<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/common::common('查看消息')"/>
    <script th:src="@{/static/msg/pool/msg_details.js}" charset="utf-8"></script>

    <style>
        .content {
            margin-top: 20px;
            font-size: 15px;
            min-height: 100px;
            border-top: #ccc 1px solid;
            padding-top: 20px;
            line-height: 30px;
        }
    </style>

</head>
<body class="bg-color">
<input type="text" th:value="*{msgId}" id="msgId" name="msgId" style="display: none">
<div class="main-container" style="padding: 10px 30px">

    <div style="display: flex;flex-direction: column;">
        <div style="display: flex;flex-direction: column">
            <div style="font-size: 20px; font-weight: 700; padding-top: 5px;color: #000;" id="msgTitle"></div>
            <div style="margin-top: 10px;font-size: 15px;display: flex;flex-direction: row; ">日期：
                <div id="msgTime"></div>
            </div>
        </div>
        <!-- 消息内容 -->
        <div id="content" class="content">
        </div>
    </div>

    <!-- 附件 -->
    <div id="fileBox" style="margin-top: 30px;     margin-bottom: 30px; padding-top: 10px;border-top: #ccc 1px solid;">
        <div style="font-size: 20px; font-weight: 700;margin-bottom: 10px; ">附件</div>
        <div style="font-size: 15px; display: flex;flex-direction: row;">
            <table class="layui-hide" id="layMessageInfoTable" lay-filter="layMessageInfoFilter"></table>
        </div>
    </div>


</div>

<script type="text/html" id="toolbarMessageInfoHandle">
    <button class="fly-action-bar fly-button-view" lay-event="download">
        <i class="layui-icon layui-icon-download-circle"></i>下载
    </button>
</script>


</body>
</html>