import {HttpRequest} from "@/axios/rest/HttpRequest";
import {${ClassName}, ${ClassName}Query} from "@/api/${moduleName}/model/${ClassName}Model";

/**
 * 请求路径
 */
const path = '${httpUri}';

/**
 * ${functionName} 接口
 *
 * @author ${author}
 * @date ${datetime}
 */
class ${ClassName}Api extends HttpRequest<${ClassName}, ${ClassName}Query, string> {

    constructor() {
        super(path)
    }


}

export default ${ClassName}Api;