<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="common/common::common('修改菜单上级目录')"/>
    <th:block th:include="common/common::zTree"/>
    <script th:src="@{/static/admin/menu/edit_parent.js}" charset="utf-8"></script>
</head>
<body class="scroll-bar" style="height: 300px;overflow-y:auto;overflow-x:hidden ">
<div style="margin: 10px 30px;">
    <form class="layui-form layui-form-pane">
        <div class="layui-form layui-form-pane" style="height: 100%;">
            <div class="layui-form-item layui-form-text">
                <ul id="tree" class="ztree"></ul>
            </div>
        </div>
        <div class="form-footer">
            <button type="button" class="button-sub" id="subEditParent">确定</button>
            <button type="button" class="button-close" id="buttonClose">关闭</button>
        </div>
    </form>
</div>

</body>
</html>