package ${package}.mapper;

import ${package}.entity.${ClassName};
import ${package}.sdk.query.${ClassName}Query;
import ${package}.sdk.vo.${ClassName}Vo;

import java.util.List;

/**
 * ${functionName} mapper
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Mapper {

    /***
     * 分页
     *
     * @author ${author}
     * @date ${datetime}
     * @param params ${package}.sdk.query.${ClassName}Query
     * @return java.util.List<${package}.sdk.vo.${ClassName}Vo>
     */
    List< ${ClassName}Vo > find${ClassName}Page(${ClassName}Query params);

    /***
     * 新增
     *
     * @author ${author}
     * @date ${datetime}
     * @param ${className} ${className}
     * @return int int
     */
    int save${ClassName}(${ClassName} ${className});

    /***
     * 根据id查询
     *
     * @author ${author}
     * @date ${datetime}
     * @param id 需要查询数据的id
     * @return ${package}.sdk.vo.${className}Vo
     */
     ${ClassName}Vo getById(${primaryKey} id);

    /***
     * 更新
     *
     * @author ${author}
     * @date ${datetime}
     * @param ${className} ${className}
     * @return int int
     */
    int update${ClassName}(${ClassName} ${className});

    /***
     * 根据id删除
     *
     * @author ${author}
     * @date ${datetime}
     * @param id 需要删除数据的id
     * @return int 影响行数
     */
    int delete${ClassName}ById(${primaryKey} id);

    /***
     * 批量添加
     *
     * @author ${author}
     * @date ${datetime}
     * @param list java.util.List<${package}.entity.${ClassName}>
     */
    void  batchSave(List< ${ClassName} > list);

    /***
     * 批量修改
     *
     * @author ${author}
     * @date ${datetime}
     * @param list java.util.List<${package}.entity.${ClassName}>
     */
    void batchUpdate(List< ${ClassName} > list);

}