<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/common::common('查看导入日志')"/>
    <script>
        layui.use(['form'], function () {
            let form = layui.form;
            form.render();
        });
    </script>
</head>
<body>

<form class="layui-form" id="seeOplogPoiImpForm" th:object="${oplogPoiImp}">
    <div class="layui-form-body-see">

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            租户名称/公司名称
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="tenantTitle" name="tenantTitle" th:field="*{tenantTitle}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            平台ID
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="platId" name="platId" th:field="*{platId}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            平台名称
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="platTitle" name="platTitle" th:field="*{platTitle}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            应用ID
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="appId" name="appId" th:field="*{appId}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            应用名称
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="appTitle" name="appTitle" th:field="*{appTitle}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            应用版本号
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="appVersion" name="appVersion" th:field="*{appVersion}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            用户ID
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="userId" name="userId" th:field="*{userId}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            昵称
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="nickName" name="nickName" th:field="*{nickName}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            身份ID
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="roleId" name="roleId" th:field="*{roleId}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            身份名称
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="roleName" name="roleName" th:field="*{roleName}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            省代码
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="provId" name="provId" th:field="*{provId}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            省名称
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="provTitle" name="provTitle" th:field="*{provTitle}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            市/州代码
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="cityId" name="cityId" th:field="*{cityId}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            市/州名称
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="cityTitle" name="cityTitle" th:field="*{cityTitle}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            区/县代码
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="countyId" name="countyId" th:field="*{countyId}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            区/县名称
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="countyTitle" name="countyTitle" th:field="*{countyTitle}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            部门ID
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="deptId" name="deptId" th:field="*{deptId}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            部门名称
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="deptTitle" name="deptTitle" th:field="*{deptTitle}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            部门等级
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="deptLevel" name="deptLevel" th:field="*{deptLevel}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            上级部门代码
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="deptParentId" name="deptParentId" th:field="*{deptParentId}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            消息表ID
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="msgId" name="msgId" th:field="*{msgId}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            功能ID/菜单ID(备用)
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="funcId" name="funcId" th:field="*{funcId}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            功能名称(备用)
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="funcTitle" name="funcTitle" th:field="*{funcTitle}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            操作IP地址
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="hostIp" name="hostIp" th:field="*{hostIp}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            操作地址
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="hostAddress" name="hostAddress" th:field="*{hostAddress}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            操作系统
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="hostOs" name="hostOs" th:field="*{hostOs}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            操作浏览器
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="hostBrowser" name="hostBrowser" th:field="*{hostBrowser}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            用户代理
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="hostUserAgent" name="hostUserAgent" th:field="*{hostUserAgent}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            请求ID
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="requestId" name="requestId" th:field="*{requestId}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            请求URI
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="requestUri" name="requestUri" th:field="*{requestUri}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            请求方式: POST, PUT, GET, DELETE
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="requestMethod" name="requestMethod" th:field="*{requestMethod}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            请求参数
                        </label>
                        <div class="layui-input-block">
                        <textarea id="requestParams" name="requestParams" th:field="*{requestParams}" maxlength="200"
                                  readonly="readonly"
lay-verify="required" autocomplete="off"
                                  class="layui-textarea"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            数据总量
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="dataTotal" name="dataTotal" th:field="*{dataTotal}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            导入文件名称
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="fileName" name="fileName" th:field="*{fileName}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            文件地址
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="fileUrl" name="fileUrl" th:field="*{fileUrl}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            文件大小
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="fileSize" name="fileSize" th:field="*{fileSize}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            文件数量
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="fileTotal" name="fileTotal" th:field="*{fileTotal}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            异常信息
                        </label>
                        <div class="layui-input-block">
                        <textarea id="exInfo" name="exInfo" th:field="*{exInfo}" maxlength="200"
                                  readonly="readonly"
lay-verify="required" autocomplete="off"
                                  class="layui-textarea"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            备注
                        </label>
                        <div class="layui-input-block">
                        <textarea id="remarks" name="remarks" th:field="*{remarks}" maxlength="200"
                                  readonly="readonly"
 autocomplete="off"
                                  class="layui-textarea"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            服务端处理耗时
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="executeTime" name="executeTime" th:field="*{executeTime}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            删除时间
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="removeTime" name="removeTime" placeholder="yyyy-MM-dd"
                                   th:field="*{removeTime}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            删除人ID
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="removeUserId" name="removeUserId" th:field="*{removeUserId}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            删除人昵称
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="removeUser" name="removeUser" th:field="*{removeUser}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            年份
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="yearly" name="yearly" th:field="*{yearly}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            月份
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="monthly" name="monthly" th:field="*{monthly}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>
    </div>
</form>

</body>
</html>