<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.itdachen.admin.mapper.IDeptInfoMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.itdachen.admin.sdk.vo.DeptInfoVo" id="deptInfoMap">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="parentId" column="parent_id"/>
        <result property="remarks" column="remarks"/>
        <result property="isCanDel" column="is_can_del"/>
        <result property="personCharge" column="person_charge"/>
    </resultMap>

    <sql id="selectDeptInfoVo">
        SELECT id, title, parent_id, remarks, is_can_del, person_charge
        FROM sys_dept_info
    </sql>

    <!-- 集合查询 -->
    <select id="page" parameterType="com.github.itdachen.admin.sdk.query.DeptInfoQuery" resultMap="deptInfoMap">
        <include refid="selectDeptInfoVo"/>
        <where>
            <if test="null != title  and '' != title ">
                AND title LIKE CONCAT(CONCAT('%',#{title}),'%')
            </if>
            <if test="null != parentId  and '' != parentId ">
                AND parent_id = #{parentId}
            </if>
            <if test="null != isCanDel  and '' != isCanDel ">
                AND is_can_del = #{isCanDel}
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <select id="hasChildren" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT 1
        FROM sys_dept_info
        WHERE parent_id = #{parentId} LIMIT 1
    </select>


    <!-- 批量添加 -->
    <insert id="batchSave" parameterType="java.util.List">
        INSERT INTO sys_dept_info (id , title , parent_id , remarks , is_can_del , person_charge , create_time ,
        create_user_id , create_user , update_time , update_user_id , update_user)
        (
        <foreach collection="list" item="item" separator="UNION ALL">
            SELECT
            #{item.id},
            #{item.title},
            #{item.parentId},
            #{item.remarks},
            #{item.isCanDel},
            #{item.personCharge},
            #{item.createTime},
            #{item.createUserId},
            #{item.createUser},
            #{item.updateTime},
            #{item.updateUserId},
            #{item.updateUser}
            FROM DUAL
        </foreach>
        )
    </insert>

    <!-- 批量更新 -->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE sys_dept_info
            <set>
                <if test="null != item.id  and '' != item.id ">id =
                    #{item.id},
                </if>
                <if test="null != item.title  and '' != item.title ">title =
                    #{item.title},
                </if>
                <if test="null != item.parentId  and '' != item.parentId ">parent_id =
                    #{item.parentId},
                </if>
                <if test="null != item.remarks  and '' != item.remarks ">remarks =
                    #{item.remarks},
                </if>
                <if test="null != item.isCanDel  and '' != item.isCanDel ">is_can_del =
                    #{item.isCanDel},
                </if>
                <if test="null != item.personCharge  and '' != item.personCharge ">person_charge =
                    #{item.personCharge},
                </if>
                <if test="null != item.createTime ">create_time =
                    #{item.createTime},
                </if>
                <if test="null != item.createUserId  and '' != item.createUserId ">create_user_id =
                    #{item.createUserId},
                </if>
                <if test="null != item.createUser  and '' != item.createUser ">create_user =
                    #{item.createUser},
                </if>
                <if test="null != item.updateTime ">update_time =
                    #{item.updateTime},
                </if>
                <if test="null != item.updateUserId  and '' != item.updateUserId ">update_user_id =
                    #{item.updateUserId},
                </if>
                <if test="null != item.updateUser  and '' != item.updateUser ">update_user =
                    #{item.updateUser},
                </if>
            </set>
            WHERE id = #{item.id}
        </foreach>
    </update>


    <select id="findRootDept" resultType="com.github.itdachen.framework.assets.tree.ZTreeNode">
        SELECT id, title AS name, parent_id AS parent_id
        FROM sys_dept_info
        WHERE parent_id = 'ROOT'
    </select>

    <select id="zTree" resultType="com.github.itdachen.framework.assets.tree.ZTreeNode">
        SELECT id, title AS name, parent_id AS parent_id
        FROM sys_dept_info
        WHERE parent_id != 'ROOT'
    </select>

</mapper>