<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.itdachen.admin.mapper.IDictTypeMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.itdachen.admin.sdk.vo.DictTypeVo" id="dictTypeMap">
            <result property="id" column="id"/>
            <result property="dictName" column="dict_name"/>
            <result property="dictType" column="dict_type"/>
            <result property="status" column="status"/>
            <result property="remarks" column="remarks"/>
    </resultMap>

    <sql id="selectDictTypeVo">
        SELECT id, dict_name, dict_type, status, remarks
        FROM sys_dict_type
    </sql>

    <!-- 集合查询 -->
    <select id="page" parameterType="com.github.itdachen.admin.sdk.query.DictTypeQuery" resultMap="dictTypeMap">
        <include refid="selectDictTypeVo"/>
        <where>
            <if test="null != dictName  and '' != dictName ">
                AND dict_name LIKE CONCAT(CONCAT('%',#{dictName}),'%')
            </if>
            <if test="null != dictType  and '' != dictType ">
                AND dict_type = #{dictType}
            </if>
            <if test="null != status  and '' != status ">
                AND status = #{status}
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <select id="findByDictType" resultMap="dictTypeMap" resultType="java.lang.String">
        <include refid="selectDictTypeVo"></include>
        WHERE dict_type = #{dictType}
        LIMIT 1
    </select>

    <!-- 批量添加 -->
    <insert id="batchSave" parameterType="java.util.List">
        INSERT INTO sys_dict_type (id        , dict_name        , dict_type        , status        , remarks        , create_user        , create_user_id        , create_time        , update_user        , update_time        , update_user_id)
        (
        <foreach collection="list" item="item" separator="UNION ALL">
            SELECT
                #{item.id}, 
                #{item.dictName}, 
                #{item.dictType}, 
                #{item.status}, 
                #{item.remarks}, 
                #{item.createUser}, 
                #{item.createUserId}, 
                #{item.createTime}, 
                #{item.updateUser}, 
                #{item.updateTime}, 
                #{item.updateUserId}
            FROM DUAL
        </foreach>
        )
    </insert>

    <!-- 批量更新 -->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE  sys_dict_type
            <set>
                        <if test="null != item.id  and '' != item.id ">id =
                            #{item.id},
                        </if>
                        <if test="null != item.dictName  and '' != item.dictName ">dict_name =
                            #{item.dictName},
                        </if>
                        <if test="null != item.dictType  and '' != item.dictType ">dict_type =
                            #{item.dictType},
                        </if>
                        <if test="null != item.status  and '' != item.status ">status =
                            #{item.status},
                        </if>
                        <if test="null != item.remarks  and '' != item.remarks ">remarks =
                            #{item.remarks},
                        </if>
                        <if test="null != item.createUser  and '' != item.createUser ">create_user =
                            #{item.createUser},
                        </if>
                        <if test="null != item.createUserId  and '' != item.createUserId ">create_user_id =
                            #{item.createUserId},
                        </if>
                        <if test="null != item.createTime ">create_time =
                            #{item.createTime},
                        </if>
                        <if test="null != item.updateUser  and '' != item.updateUser ">update_user =
                            #{item.updateUser},
                        </if>
                        <if test="null != item.updateTime ">update_time =
                            #{item.updateTime},
                        </if>
                        <if test="null != item.updateUserId  and '' != item.updateUserId ">update_user_id =
                            #{item.updateUserId},
                        </if>
            </set>
            WHERE id = #{item.id}
        </foreach>
    </update>


</mapper>