<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.itdachen.admin.mapper.IElementInfoMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.itdachen.admin.sdk.vo.ElementInfoVo" id="elementInfoMap">
        <result property="id" column="id"/>
        <result property="menuId" column="menu_id"/>
        <result property="title" column="title"/>
        <result property="code" column="code"/>
        <result property="type" column="type"/>
        <result property="href" column="href"/>
        <result property="path" column="path"/>
        <result property="method" column="method"/>
        <result property="orderNum" column="order_num"/>
        <result property="visible" column="visible"/>
        <result property="remarks" column="remarks"/>
    </resultMap>

    <sql id="selectElementInfoVo">
        SELECT id,
               menu_id,
               title,
               code,
               type,
               href,
               path,
               method,
               order_num,
               visible,
               remarks
        FROM sys_element_info
    </sql>

    <!-- 集合查询 -->
    <select id="page" parameterType="com.github.itdachen.admin.sdk.query.ElementInfoQuery" resultMap="elementInfoMap">
        <include refid="selectElementInfoVo"/>
        <where>
            <if test="null != menuId  and '' != menuId ">
                AND menu_id = #{menuId}
            </if>
            <if test="null != title  and '' != title ">
                AND title LIKE CONCAT(CONCAT('%',#{title}),'%')
            </if>
            <if test="null != code  and '' != code ">
                AND code = #{code}
            </if>
            <if test="null != type  and '' != type ">
                AND type = #{type}
            </if>
            <if test="null != href  and '' != href ">
                AND href = #{href}
            </if>
            <if test="null != path  and '' != path ">
                AND path = #{path}
            </if>
            <if test="null != method  and '' != method ">
                AND method = #{method}
            </if>
            <if test="null != orderNum ">
                AND order_num = #{orderNum}
            </if>
            <if test="null != visible  and '' != visible ">
                AND visible = #{visible}
            </if>
        </where>
        ORDER BY order_num ASC
    </select>


    <delete id="remove" parameterType="java.lang.String">
        DELETE
        FROM sys_element_info
        WHERE menu_id = #{menuId}
    </delete>


    <!-- 批量添加 -->
    <insert id="batchSave" parameterType="java.util.List">
        INSERT INTO sys_element_info (id , menu_id , title , code , type , href , path , method , order_num , visible ,
        remarks , create_time , create_user , create_user_id , update_time , update_user , update_user_id)
        (
        <foreach collection="list" item="item" separator="UNION ALL">
            SELECT
            #{item.id},
            #{item.menuId},
            #{item.title},
            #{item.code},
            #{item.type},
            #{item.href},
            #{item.path},
            #{item.method},
            #{item.orderNum},
            #{item.visible},
            #{item.remarks},
            #{item.createTime},
            #{item.createUser},
            #{item.createUserId},
            #{item.updateTime},
            #{item.updateUser},
            #{item.updateUserId}
            FROM DUAL
        </foreach>
        )
    </insert>

    <!-- 批量更新 -->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE sys_element_info
            <set>
                <if test="null != item.id  and '' != item.id ">id =
                    #{item.id},
                </if>
                <if test="null != item.menuId  and '' != item.menuId ">menu_id =
                    #{item.menuId},
                </if>
                <if test="null != item.title  and '' != item.title ">title =
                    #{item.title},
                </if>
                <if test="null != item.code  and '' != item.code ">code =
                    #{item.code},
                </if>
                <if test="null != item.type  and '' != item.type ">type =
                    #{item.type},
                </if>
                <if test="null != item.href  and '' != item.href ">href =
                    #{item.href},
                </if>
                <if test="null != item.path  and '' != item.path ">path =
                    #{item.path},
                </if>
                <if test="null != item.method  and '' != item.method ">method =
                    #{item.method},
                </if>
                <if test="null != item.orderNum ">order_num =
                    #{item.orderNum},
                </if>
                <if test="null != item.visible  and '' != item.visible ">visible =
                    #{item.visible},
                </if>
                <if test="null != item.remarks  and '' != item.remarks ">remarks =
                    #{item.remarks},
                </if>
                <if test="null != item.createTime ">create_time =
                    #{item.createTime},
                </if>
                <if test="null != item.createUser  and '' != item.createUser ">create_user =
                    #{item.createUser},
                </if>
                <if test="null != item.createUserId  and '' != item.createUserId ">create_user_id =
                    #{item.createUserId},
                </if>
                <if test="null != item.updateTime ">update_time =
                    #{item.updateTime},
                </if>
                <if test="null != item.updateUser  and '' != item.updateUser ">update_user =
                    #{item.updateUser},
                </if>
                <if test="null != item.updateUserId  and '' != item.updateUserId ">update_user_id =
                    #{item.updateUserId},
                </if>
            </set>
            WHERE id = #{item.id}
        </foreach>
    </update>

    <select id="findElementInfo" parameterType="java.lang.String"
            resultType="com.github.itdachen.admin.sdk.vo.MenuInfoVo">
        SELECT id,
               menu_id,
               menu_id AS parentId,
               title,
               code,
               type,
               href,
               href AS path,
               path,
               method,
               order_num,
               visible,
               remarks
        FROM sys_element_info
        WHERE menu_id = #{menuId}
        ORDER BY order_num ASC
    </select>

</mapper>