<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.itdachen.admin.mapper.IPositionInfoMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.itdachen.admin.sdk.vo.PositionInfoVo" id="positionInfoMap">
        <result property="id" column="id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="title" column="title"/>
        <result property="positionCode" column="position_code"/>
        <result property="deptId" column="dept_id"/>
        <result property="status" column="status"/>
        <result property="remarks" column="remarks"/>
    </resultMap>

    <sql id="selectPositionInfoVo">
        SELECT id,
               tenant_id,
               title,
               position_code,
               dept_id,
               status,
               remarks
        FROM sys_position_info
    </sql>

    <!-- 集合查询 -->
    <select id="page" parameterType="com.github.itdachen.admin.sdk.query.PositionInfoQuery" resultMap="positionInfoMap">
        <include refid="selectPositionInfoVo"/>
        <where>
            <if test="null != tenantId  and '' != tenantId ">
                AND tenant_id = #{tenantId}
            </if>
            <if test="null != title  and '' != title ">
                AND title LIKE CONCAT(CONCAT('%',#{title}),'%')
            </if>
            <if test="null != deptId  and '' != deptId ">
                AND dept_id = #{deptId}
            </if>
            <if test="null != status  and '' != status ">
                AND status = #{status}
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <!-- 根据部门查询岗位 -->
    <select id="findPositionByDept" resultMap="positionInfoMap" parameterType="java.lang.String">
        <include refid="selectPositionInfoVo"></include>
        WHERE dept_id = #{deptId} AND status = #{status}
    </select>


    <!-- 批量添加 -->
    <insert id="batchSave" parameterType="java.util.List">
        INSERT INTO sys_position_info (id ,
        tenant_id ,
        title ,
        position_code ,
        dept_id ,
        status ,
        remarks ,
        create_time ,
        create_user_id ,
        create_user ,
        update_time ,
        update_user_id ,
        update_user
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id},
            #{item.tenantId},
            #{item.title},
            #{item.positionCode},
            #{item.deptId},
            #{item.status},
            #{item.remarks},
            #{item.createTime},
            #{item.createUserId},
            #{item.createUser},
            #{item.updateTime},
            #{item.updateUserId},
            #{item.updateUser})
        </foreach>
    </insert>

    <!-- 批量更新 -->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            UPDATE sys_position_info
            <set>
                <if test="null != item.id  and '' != item.id ">id =
                    #{item.id},
                </if>
                <if test="null != item.tenantId  and '' != item.tenantId ">tenant_id =
                    #{item.tenantId},
                </if>
                <if test="null != item.title  and '' != item.title ">title =
                    #{item.title},
                </if>
                <if test="null != item.positionCode  and '' != item.positionCode ">position_code =
                    #{item.positionCode},
                </if>
                <if test="null != item.deptId  and '' != item.deptId ">dept_id =
                    #{item.deptId},
                </if>
                <if test="null != item.status  and '' != item.status ">status =
                    #{item.status},
                </if>
                <if test="null != item.remarks  and '' != item.remarks ">remarks =
                    #{item.remarks},
                </if>
                <if test="null != item.createTime ">create_time =
                    #{item.createTime},
                </if>
                <if test="null != item.createUserId  and '' != item.createUserId ">create_user_id =
                    #{item.createUserId},
                </if>
                <if test="null != item.createUser  and '' != item.createUser ">create_user =
                    #{item.createUser},
                </if>
                <if test="null != item.updateTime ">update_time =
                    #{item.updateTime},
                </if>
                <if test="null != item.updateUserId  and '' != item.updateUserId ">update_user_id =
                    #{item.updateUserId},
                </if>
                <if test="null != item.updateUser  and '' != item.updateUser ">update_user =
                    #{item.updateUser},
                </if>
            </set>
            WHERE id = #{item.id}
        </foreach>
    </update>


</mapper>