<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.itdachen.admin.mapper.IRoleMenuMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.itdachen.admin.sdk.vo.RoleMenuVo" id="roleMenuMap">
        <result property="id" column="id"/>
        <result property="roleId" column="role_id"/>
        <result property="menuId" column="menu_id"/>
    </resultMap>

    <sql id="selectRoleMenuVo">
        SELECT id, role_id, menu_id
        FROM sys_role_menu
    </sql>

    <!-- 集合查询 -->
    <select id="page" parameterType="com.github.itdachen.admin.sdk.query.RoleMenuQuery" resultMap="roleMenuMap">
        <include refid="selectRoleMenuVo"/>
        <where>
            <if test="null != roleId  and '' != roleId ">
                AND role_id = #{roleId}
            </if>
            <if test="null != menuId  and '' != menuId ">
                AND menu_id = #{menuId}
            </if>
        </where>
        ORDER BY id DESC
    </select>


    <!-- 批量添加 -->
    <insert id="batchSave" parameterType="java.util.List">
        INSERT INTO sys_role_menu (id , role_id , menu_id) VALUES
        <foreach collection="list" item="item" open="(" close=")">
            #{item.id}, #{item.roleId}, #{item.menuId}
        </foreach>
    </insert>

    <!-- 批量更新 -->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE sys_role_menu
            <set>
                <if test="null != item.id  and '' != item.id ">id =
                    #{item.id},
                </if>
                <if test="null != item.roleId  and '' != item.roleId ">role_id =
                    #{item.roleId},
                </if>
                <if test="null != item.menuId  and '' != item.menuId ">menu_id =
                    #{item.menuId},
                </if>
            </set>
            WHERE id = #{item.id}
        </foreach>
    </update>


</mapper>