<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.itdachen.admin.mapper.IUserInfoMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.itdachen.admin.sdk.vo.UserInfoVo" id="userInfoMap">
            <result property="id" column="id"/>
            <result property="username" column="username"/>
            <result property="password" column="password"/>
            <result property="name" column="name"/>
            <result property="avatar" column="avatar"/>
            <result property="birthday" column="birthday"/>
            <result property="address" column="address"/>
            <result property="telephone" column="telephone"/>
            <result property="email" column="email"/>
            <result property="departId" column="depart_id"/>
            <result property="sex" column="sex"/>
            <result property="type" column="type"/>
            <result property="status" column="status"/>
            <result property="remarks" column="remarks"/>
            <result property="tenantId" column="tenant_id"/>
            <result property="clientId" column="client_id"/>
            <result property="isDel" column="is_del"/>
            <result property="attr1" column="attr1"/>
            <result property="attr2" column="attr2"/>
            <result property="attr3" column="attr3"/>
            <result property="attr4" column="attr4"/>
            <result property="attr5" column="attr5"/>
            <result property="attr6" column="attr6"/>
            <result property="attr7" column="attr7"/>
            <result property="attr8" column="attr8"/>
            <result property="attr9" column="attr9"/>
            <result property="attr10" column="attr10"/>
    </resultMap>

    <sql id="selectUserInfoVo">
        SELECT id, username, password, name, avatar, birthday, address, telephone, email, depart_id, sex, type, status, remarks, tenant_id, client_id, is_del, attr1, attr2, attr3, attr4, attr5, attr6, attr7, attr8, attr9, attr10
        FROM sys_user_info
    </sql>

    <!-- 集合查询 -->
    <select id="page" parameterType="com.github.itdachen.admin.sdk.query.UserInfoQuery" resultMap="userInfoMap">
        <include refid="selectUserInfoVo"/>
        <where>
            <if test="null != username  and '' != username ">
                AND username LIKE CONCAT(CONCAT('%',#{username}),'%')
            </if>
            <if test="null != name  and '' != name ">
                AND name LIKE CONCAT(CONCAT('%',#{name}),'%')
            </if>
            <if test="null != departId  and '' != departId ">
                AND depart_id = #{departId}
            </if>
            <if test="null != tenantId  and '' != tenantId ">
                AND tenant_id = #{tenantId}
            </if>
            <if test="null != clientId  and '' != clientId ">
                AND client_id = #{clientId}
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <select id="findUserByUsername" resultMap="userInfoMap" parameterType="java.lang.String">
        <include refid="selectUserInfoVo"></include>
        WHERE username = #{username}
        LIMIT 1
    </select>


    <!-- 批量添加 -->
    <insert id="batchSave" parameterType="java.util.List">
        INSERT INTO sys_user_info (id        , username        , password        , name        , avatar        , birthday        , address        , telephone        , email        , depart_id        , sex        , type        , status        , remarks        , tenant_id        , create_time        , create_user_id        , create_user        , update_time        , update_user_id        , update_user        , client_id        , is_del        , attr1        , attr2        , attr3        , attr4        , attr5        , attr6        , attr7        , attr8        , attr9        , attr10)
        (
        <foreach collection="list" item="item" separator="UNION ALL">
            SELECT
                #{item.id}, 
                #{item.username}, 
                #{item.password}, 
                #{item.name}, 
                #{item.avatar}, 
                #{item.birthday}, 
                #{item.address}, 
                #{item.telephone}, 
                #{item.email}, 
                #{item.departId}, 
                #{item.sex}, 
                #{item.type}, 
                #{item.status}, 
                #{item.remarks}, 
                #{item.tenantId}, 
                #{item.createTime}, 
                #{item.createUserId}, 
                #{item.createUser}, 
                #{item.updateTime}, 
                #{item.updateUserId}, 
                #{item.updateUser}, 
                #{item.clientId}, 
                #{item.isDel}, 
                #{item.attr1}, 
                #{item.attr2}, 
                #{item.attr3}, 
                #{item.attr4}, 
                #{item.attr5}, 
                #{item.attr6}, 
                #{item.attr7}, 
                #{item.attr8}, 
                #{item.attr9}, 
                #{item.attr10}
            FROM DUAL
        </foreach>
        )
    </insert>

    <!-- 批量更新 -->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE  sys_user_info
            <set>
                        <if test="null != item.id  and '' != item.id ">id =
                            #{item.id},
                        </if>
                        <if test="null != item.username  and '' != item.username ">username =
                            #{item.username},
                        </if>
                        <if test="null != item.password  and '' != item.password ">password =
                            #{item.password},
                        </if>
                        <if test="null != item.name  and '' != item.name ">name =
                            #{item.name},
                        </if>
                        <if test="null != item.avatar  and '' != item.avatar ">avatar =
                            #{item.avatar},
                        </if>
                        <if test="null != item.birthday  and '' != item.birthday ">birthday =
                            #{item.birthday},
                        </if>
                        <if test="null != item.address  and '' != item.address ">address =
                            #{item.address},
                        </if>
                        <if test="null != item.telephone  and '' != item.telephone ">telephone =
                            #{item.telephone},
                        </if>
                        <if test="null != item.email  and '' != item.email ">email =
                            #{item.email},
                        </if>
                        <if test="null != item.departId  and '' != item.departId ">depart_id =
                            #{item.departId},
                        </if>
                        <if test="null != item.sex  and '' != item.sex ">sex =
                            #{item.sex},
                        </if>
                        <if test="null != item.type  and '' != item.type ">type =
                            #{item.type},
                        </if>
                        <if test="null != item.status  and '' != item.status ">status =
                            #{item.status},
                        </if>
                        <if test="null != item.remarks  and '' != item.remarks ">remarks =
                            #{item.remarks},
                        </if>
                        <if test="null != item.tenantId  and '' != item.tenantId ">tenant_id =
                            #{item.tenantId},
                        </if>
                        <if test="null != item.createTime ">create_time =
                            #{item.createTime},
                        </if>
                        <if test="null != item.createUserId  and '' != item.createUserId ">create_user_id =
                            #{item.createUserId},
                        </if>
                        <if test="null != item.createUser  and '' != item.createUser ">create_user =
                            #{item.createUser},
                        </if>
                        <if test="null != item.updateTime ">update_time =
                            #{item.updateTime},
                        </if>
                        <if test="null != item.updateUserId  and '' != item.updateUserId ">update_user_id =
                            #{item.updateUserId},
                        </if>
                        <if test="null != item.updateUser  and '' != item.updateUser ">update_user =
                            #{item.updateUser},
                        </if>
                        <if test="null != item.clientId  and '' != item.clientId ">client_id =
                            #{item.clientId},
                        </if>
                        <if test="null != item.isDel  and '' != item.isDel ">is_del =
                            #{item.isDel},
                        </if>
                        <if test="null != item.attr1  and '' != item.attr1 ">attr1 =
                            #{item.attr1},
                        </if>
                        <if test="null != item.attr2  and '' != item.attr2 ">attr2 =
                            #{item.attr2},
                        </if>
                        <if test="null != item.attr3  and '' != item.attr3 ">attr3 =
                            #{item.attr3},
                        </if>
                        <if test="null != item.attr4  and '' != item.attr4 ">attr4 =
                            #{item.attr4},
                        </if>
                        <if test="null != item.attr5  and '' != item.attr5 ">attr5 =
                            #{item.attr5},
                        </if>
                        <if test="null != item.attr6  and '' != item.attr6 ">attr6 =
                            #{item.attr6},
                        </if>
                        <if test="null != item.attr7  and '' != item.attr7 ">attr7 =
                            #{item.attr7},
                        </if>
                        <if test="null != item.attr8  and '' != item.attr8 ">attr8 =
                            #{item.attr8},
                        </if>
                        <if test="null != item.attr9  and '' != item.attr9 ">attr9 =
                            #{item.attr9},
                        </if>
                        <if test="null != item.attr10  and '' != item.attr10 ">attr10 =
                            #{item.attr10},
                        </if>
            </set>
            WHERE id = #{item.id}
        </foreach>
    </update>


</mapper>