<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <th:block th:include="common/common::common('身份角色信息')"/>
<!--    <th:block th:include="common/common::component('身份角色信息')"/>-->
    <th:block th:include="common/common::zTree"/>
    <script th:src="@{/static/admin/user/role/index.js}" charset="utf-8"></script>
</head>
<body class="fly-container">
<div class="fly-main-container">
    <input type="text" th:value="*{parentId}" id="parentId" name="parentId" style="display: none">

    <div class="tree-container">
        <div class="tree-box">
            <div class="tree-title">部门树</div>
            <div class="tree-title-line"></div>
            <div id="tree" class="ztree"></div>
        </div>
        <!--右侧内容-->
        <div class=" tree-table-content">
            <div class="tree-table">

                <!-- 查询 -->
                <div class="fly-query-container" sec:authorize="hasAuthority('admin:user:role:info:query')">
                    <form class="layui-form" id="queryUserRoleInfo" name="queryUserRoleInfo">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">身份名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input keypress-listen" placeholder="身份名称"
                                           id="roleName" name="roleName" autocomplete="off">
                                </div>
                            </div>


                            <div class="layui-inline">
                                <label class="layui-form-label">是否主身份</label>
                                <div class="layui-input-inline">
                                    <select id="roleFlag" name="roleFlag" th:with="dicts=${@dict.data('Y_OR_N')}">
                                        <option value="">请选择是否主身份</option>
                                        <option th:each="dict : ${dicts}"
                                                th:text="${dict.label}"
                                                th:value="${dict.value}">
                                        </option>
                                    </select>
                                </div>
                            </div>


                            <div class="layui-inline">
                                <label class="layui-form-label">有效标志</label>
                                <div class="layui-input-inline">
                                    <select id="validFlag" name="validFlag" th:with="dicts=${@dict.data('VALID_FLAG')}">
                                        <option value="">请选择有效标志</option>
                                        <option th:each="dict : ${dicts}"
                                                th:text="${dict.label}"
                                                th:value="${dict.value}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button type="submit" class="layui-btn layui-btn-sm fly-button-search"
                                        lay-submit lay-filter="queryUserRoleInfo">
                                    <i class="layui-icon layui-icon-search fly-icon-right-5"></i>查询
                                </button>
                                <button type="reset" class="layui-btn layui-btn-sm fly-button-reset">
                                    <i class="layui-icon layui-icon-refresh fly-icon-right-5"></i>重置
                                </button>
                                <button sec:authorize="hasAuthority('admin:user:role:info:exp')"
                                        type="submit" class="layui-btn layui-btn-sm fly-button-exp"
                                        lay-submit lay-filter="expUserRoleInfo">
                                    <i class="layui-icon layui-icon-export fly-icon-right-5"></i>导出
                                </button>
                            </div>
                        </div>

                    </form>
                </div>

                <!-- 页面数据展示 -->
                <div class="fly-table-container">
                    <table class="layui-hide" id="layTable" lay-filter="layFilter"></table>
                </div>

            </div>
        </div>
    </div>

</div>


<!-- 表头工具栏 -->
<script type="text/html" id="toolbar">
    <div class="fly-tool-bar">
        <button sec:authorize="hasAuthority('admin:user:role:info:save')"
                class="layui-btn layui-btn-sm layui-btn-normal fly-button-add"
                lay-event="saveUserRoleInfo">
            <i class="layui-icon layui-icon-addition"></i>新增
        </button>
    </div>
</script>

<!-- 操作工具栏 -->
<script type="text/html" id="toolActionBar">
<!--    <button sec:authorize="hasAuthority('admin:user:role:info:view')"-->
<!--            class="fly-action-bar fly-button-view" lay-event="view">-->
<!--        <i class="layui-icon layui-icon-list"></i>查看-->
<!--    </button>-->
    <button sec:authorize="hasAuthority('admin:user:role:inf:clazz')"
            class="fly-action-bar fly-button-auz" lay-event="grant">
        <i class="layui-icon layui-icon-username"></i>权限下发
    </button>
    <button sec:authorize="hasAuthority('admin:user:role:inf:auz')"
            class="fly-action-bar fly-button-auz" lay-event="auz">
        <i class="layui-icon layui-icon-theme"></i>特权设置
    </button>
    <button sec:authorize="hasAuthority('admin:user:role:inf:clazz')"
            class="fly-action-bar fly-button-auz" lay-event="clazz">
        <i class="layui-icon layui-icon-auz"></i>岗位设置
    </button>
    <button sec:authorize="hasAuthority('admin:user:role:info:update')"
            class="fly-action-bar fly-button-edit" lay-event="update">
        <i class="layui-icon layui-icon-edit"></i>编辑
    </button>
    <button sec:authorize="hasAuthority('admin:user:role:info:delete')"
            class="fly-action-bar fly-button-remove" lay-event="delete">
        <i class="layui-icon layui-icon-delete"></i>删除
    </button>
</script>

<script type="text/html" id="validFlagTpl">
    <input type="checkbox" name="validFlag" value="{{= d.id }}" title="有效|无效" lay-skin="switch"
           lay-filter="validFlagFilter" {{ d.validFlag== 'Y' ? 'checked' : '' }}>
</script>


</body>
</html>