<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.itdachen.admin.mapper.IAppClientMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.itdachen.admin.sdk.vo.AppClientVo" id="appClientMap">
        <result property="id" column="id"/>
        <result property="appCode" column="app_code"/>
        <result property="appType" column="app_type"/>
        <result property="appTitle" column="app_title"/>
        <result property="askUri" column="ask_uri"/>
        <result property="lanUri" column="lan_uri"/>
        <result property="icon" column="icon"/>
        <result property="status" column="status"/>
        <result property="remarks" column="remarks"/>
        <result property="canDel" column="can_del"/>
    </resultMap>

    <sql id="selectAppClientVo">
        SELECT id,
               app_code,
               app_type,
               app_title,
               ask_uri,
               lan_uri,
               icon,
               status,
               remarks,
               can_del
        FROM sys_app_client
    </sql>

    <!-- 集合查询 -->
    <select id="page" parameterType="com.github.itdachen.admin.sdk.query.AppClientQuery"
            resultMap="appClientMap">
        <include refid="selectAppClientVo"/>
        <where>
            <if test="null != appCode  and '' != appCode ">
                AND app_code = #{appCode}
            </if>
            <if test="null != appType  and '' != appType ">
                AND app_type = #{appType}
            </if>
            <if test="null != appTitle  and '' != appTitle ">
                AND app_title LIKE CONCAT(CONCAT('%',#{appTitle}),'%')
            </if>
            <if test="null != status  and '' != status ">
                AND status = #{status}
            </if>
            <if test="null != canDel  and '' != canDel ">
                AND can_del = #{canDel}
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <select id="findAppClient" resultMap="appClientMap" parameterType="java.lang.String">
        <include refid="selectAppClientVo"></include>
        WHERE app_code = #{appCode}
        LIMIT 1
    </select>


    <select id="findAppAll" resultType="com.github.itdachen.framework.assets.tree.ZTreeNode">
        SELECT app_code AS id, app_title AS name, app_type AS type, '1' AS parentId, '0' AS grade
        FROM sys_app_client
    </select>

    <select id="hasMenu" resultType="java.lang.Integer">
        SELECT 1
        FROM sys_menu_info
        WHERE parent_id = #{appCode} LIMIT 1
    </select>

    <!-- 批量添加 -->
    <insert id="batchSave" parameterType="java.util.List">
        INSERT INTO sys_app_client (id , app_code , app_type , app_title , ask_uri , lan_uri , icon , status , remarks ,
        can_del , create_time , create_user , create_user_id , update_time , update_user , update_user_id)
        (
        <foreach collection="list" item="item" separator="UNION ALL">
            SELECT
            #{item.id},
            #{item.appCode},
            #{item.appType},
            #{item.appTitle},
            #{item.askUri},
            #{item.lanUri},
            #{item.icon},
            #{item.status},
            #{item.remarks},
            #{item.canDel},
            #{item.createTime},
            #{item.createUser},
            #{item.createUserId},
            #{item.updateTime},
            #{item.updateUser},
            #{item.updateUserId}
            FROM DUAL
        </foreach>
        )
    </insert>

    <!-- 批量更新 -->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE sys_app_client
            <set>
                <if test="null != item.id  and '' != item.id ">id =
                    #{item.id},
                </if>
                <if test="null != item.appCode  and '' != item.appCode ">app_code =
                    #{item.appCode},
                </if>
                <if test="null != item.appType  and '' != item.appType ">app_type =
                    #{item.appType},
                </if>
                <if test="null != item.appTitle  and '' != item.appTitle ">app_title =
                    #{item.appTitle},
                </if>
                <if test="null != item.askUri  and '' != item.askUri ">ask_uri =
                    #{item.askUri},
                </if>
                <if test="null != item.lanUri  and '' != item.lanUri ">lan_uri =
                    #{item.lanUri},
                </if>
                <if test="null != item.icon  and '' != item.icon ">icon =
                    #{item.icon},
                </if>
                <if test="null != item.status  and '' != item.status ">status =
                    #{item.status},
                </if>
                <if test="null != item.remarks  and '' != item.remarks ">remarks =
                    #{item.remarks},
                </if>
                <if test="null != item.canDel  and '' != item.canDel ">can_del =
                    #{item.canDel},
                </if>
                <if test="null != item.createTime ">create_time =
                    #{item.createTime},
                </if>
                <if test="null != item.createUser  and '' != item.createUser ">create_user =
                    #{item.createUser},
                </if>
                <if test="null != item.createUserId  and '' != item.createUserId ">create_user_id =
                    #{item.createUserId},
                </if>
                <if test="null != item.updateTime ">update_time =
                    #{item.updateTime},
                </if>
                <if test="null != item.updateUser  and '' != item.updateUser ">update_user =
                    #{item.updateUser},
                </if>
                <if test="null != item.updateUserId  and '' != item.updateUserId ">update_user_id =
                    #{item.updateUserId},
                </if>
            </set>
            WHERE id = #{item.id}
        </foreach>
    </update>

</mapper>