<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.itdachen.admin.mapper.IDictDataMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.itdachen.admin.sdk.vo.DictDataVo" id="dictDataMap">
        <result property="id" column="id"/>
        <result property="dictSort" column="dict_sort"/>
        <result property="dictLabel" column="dict_label"/>
        <result property="dictValue" column="dict_value"/>
        <result property="dictType" column="dict_type"/>
        <result property="cssClass" column="css_class"/>
        <result property="listClass" column="list_class"/>
        <result property="isDefault" column="is_default"/>
        <result property="status" column="status"/>
        <result property="remarks" column="remarks"/>
    </resultMap>

    <sql id="selectDictDataVo">
        SELECT id,
               dict_sort,
               dict_label,
               dict_value,
               dict_type,
               css_class,
               list_class,
               is_default,
               status,
               remarks
        FROM sys_dict_data
    </sql>

    <!-- 集合查询 -->
    <select id="page" parameterType="com.github.itdachen.admin.sdk.query.DictDataQuery" resultMap="dictDataMap">
        <include refid="selectDictDataVo"/>
        <where>
            <if test="null != dictSort ">
                AND dict_sort = #{dictSort}
            </if>
            <if test="null != dictLabel  and '' != dictLabel ">
                AND dict_label = #{dictLabel}
            </if>
            <if test="null != dictValue  and '' != dictValue ">
                AND dict_value = #{dictValue}
            </if>
            <if test="null != dictType  and '' != dictType ">
                AND dict_type = #{dictType}
            </if>
            <if test="null != isDefault  and '' != isDefault ">
                AND is_default = #{isDefault}
            </if>
            <if test="null != status  and '' != status ">
                AND status = #{status}
            </if>
        </where>
        ORDER BY id DESC
    </select>


    <!-- 批量添加 -->
    <insert id="batchSave" parameterType="java.util.List">
        INSERT INTO sys_dict_data (id , dict_sort , dict_label , dict_value , dict_type , css_class , list_class ,
        is_default , status , remarks , create_user , create_user_id , create_time , update_user , update_time ,
        update_user_id)
        (
        <foreach collection="list" item="item" separator="UNION ALL">
            SELECT
            #{item.id},
            #{item.dictSort},
            #{item.dictLabel},
            #{item.dictValue},
            #{item.dictType},
            #{item.cssClass},
            #{item.listClass},
            #{item.isDefault},
            #{item.status},
            #{item.remarks},
            #{item.createUser},
            #{item.createUserId},
            #{item.createTime},
            #{item.updateUser},
            #{item.updateTime},
            #{item.updateUserId}
            FROM DUAL
        </foreach>
        )
    </insert>


    <select id="findDictData" parameterType="java.lang.String"
            resultType="com.github.itdachen.admin.sdk.vo.DataDictVo">
        SELECT dict_label AS label, dict_value AS value, IFNULL(is_default,0) AS isDefault
        FROM sys_dict_data
        <where>
            dict_type = #{dictType}
            <if test="null != status  and '' != status ">
                AND status = #{status}
            </if>
        </where>
        ORDER BY dict_sort ASC
    </select>

    <select id="findByTypeAndValue" resultMap="dictDataMap" parameterType="java.lang.String">
        <include refid="selectDictDataVo"></include>
        WHERE dict_type = #{dictType} AND dict_value = #{dictValue}
        LIMIT 1
    </select>

    <!-- 批量更新 -->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE sys_dict_data
            <set>
                <if test="null != item.id  and '' != item.id ">id =
                    #{item.id},
                </if>
                <if test="null != item.dictSort ">dict_sort =
                    #{item.dictSort},
                </if>
                <if test="null != item.dictLabel  and '' != item.dictLabel ">dict_label =
                    #{item.dictLabel},
                </if>
                <if test="null != item.dictValue  and '' != item.dictValue ">dict_value =
                    #{item.dictValue},
                </if>
                <if test="null != item.dictType  and '' != item.dictType ">dict_type =
                    #{item.dictType},
                </if>
                <if test="null != item.cssClass  and '' != item.cssClass ">css_class =
                    #{item.cssClass},
                </if>
                <if test="null != item.listClass  and '' != item.listClass ">list_class =
                    #{item.listClass},
                </if>
                <if test="null != item.isDefault  and '' != item.isDefault ">is_default =
                    #{item.isDefault},
                </if>
                <if test="null != item.status  and '' != item.status ">status =
                    #{item.status},
                </if>
                <if test="null != item.remarks  and '' != item.remarks ">remarks =
                    #{item.remarks},
                </if>
                <if test="null != item.createUser  and '' != item.createUser ">create_user =
                    #{item.createUser},
                </if>
                <if test="null != item.createUserId  and '' != item.createUserId ">create_user_id =
                    #{item.createUserId},
                </if>
                <if test="null != item.createTime ">create_time =
                    #{item.createTime},
                </if>
                <if test="null != item.updateUser  and '' != item.updateUser ">update_user =
                    #{item.updateUser},
                </if>
                <if test="null != item.updateTime ">update_time =
                    #{item.updateTime},
                </if>
                <if test="null != item.updateUserId  and '' != item.updateUserId ">update_user_id =
                    #{item.updateUserId},
                </if>
            </set>
            WHERE id = #{item.id}
        </foreach>
    </update>


</mapper>