<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.itdachen.admin.mapper.ITenantInfoMapper">


    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.itdachen.admin.sdk.vo.TenantInfoVO" id="tenantInfoMap">
        <result property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="parentTitle" column="parent_title"/>
        <result property="typeId" column="type_id"/>
        <result property="typeTitle" column="type_title"/>
        <result property="title" column="title"/>
        <result property="titleAs" column="title_as"/>
        <result property="homeIcon" column="home_icon"/>
        <result property="homeUri" column="home_uri"/>
        <result property="ownerId" column="owner_id"/>
        <result property="ownerNickName" column="owner_nick_name"/>
        <result property="telephone" column="telephone"/>
        <result property="eMailBox" column="e_mail_box"/>
        <result property="facsimile" column="facsimile"/>
        <result property="funcCode" column="func_code"/>
        <result property="validFlag" column="valid_flag"/>
        <result property="remarks" column="remarks"/>
    </resultMap>

    <!-- VO 类查询 -->
    <sql id="selectTenantInfoVO">
        SELECT id,
               parent_id,
               parent_title,
               type_id,
               type_title,
               title,
               title_as,
               home_icon,
               home_uri,
               owner_id,
               owner_nick_name,
               telephone,
               e_mail_box,
               facsimile,
               func_code,
               valid_flag,
               remarks
        FROM ta_fly_tenant_info
    </sql>

    <!-- 导出数据字段查询 -->
    <sql id="selectTenantInfoExpVO">
        SELECT parent_id,
               parent_title,
               type_id,
               type_title,
               title,
               title_as,
               home_icon,
               home_uri,
               owner_id,
               owner_nick_name,
               telephone,
               e_mail_box,
               facsimile,
               func_code,
               valid_flag
        FROM ta_fly_tenant_info
    </sql>


    <!-- 分页和导出查询参数 -->
    <sql id="selectParamsWhere">
        <where>
            <if test="null != parentId  and '' != parentId ">
                AND parent_id = #{parentId}
            </if>
            <if test="null != typeId  and '' != typeId ">
                AND type_id = #{typeId}
            </if>
            <if test="null != title  and '' != title ">
                AND title LIKE CONCAT(CONCAT('%',#{title}),'%')
            </if>
            <if test="null != titleAs  and '' != titleAs ">
                AND title_as LIKE CONCAT(CONCAT('%',#{titleAs}),'%')
            </if>
            <if test="null != ownerId  and '' != ownerId ">
                AND owner_id = #{ownerId}
            </if>
            <if test="null != ownerNickName  and '' != ownerNickName ">
                AND owner_nick_name LIKE CONCAT(CONCAT('%',#{ownerNickName}),'%')
            </if>
            <if test="null != validFlag  and '' != validFlag ">
                AND valid_flag = #{validFlag}
            </if>
        </where>
        ORDER BY create_time DESC
    </sql>

    <!-- 集合查询 -->
    <select id="list" parameterType="com.github.itdachen.admin.sdk.query.TenantInfoQuery" resultMap="tenantInfoMap">
        <include refid="selectTenantInfoVO"/>
        <include refid="selectParamsWhere"></include>
    </select>

    <select id="findTenantChildrenTree" parameterType="java.lang.String"
            resultType="com.github.itdachen.framework.context.tree.ZTreeNode">
        SELECT id,
               parent_id AS parentId,
               title     AS name
        FROM ta_fly_tenant_info
        WHERE parent_id = #{parentId}
          AND valid_flag = 'Y'
    </select>

    <select id="findTenantTree" resultType="com.github.itdachen.framework.context.tree.ZTreeNode">
        SELECT id,
               parent_id AS parentId,
               title  AS name
        FROM ta_fly_tenant_info
        WHERE parent_id != 'root'
    </select>

    <!-- 查询导出数据 -->
    <select id="selectTenantInfoExpData" parameterType="java.lang.String" resultMap="tenantInfoMap">
        <include refid="selectTenantInfoExpVO"/>
        <include refid="selectParamsWhere"></include>
    </select>

    <!-- 根据主键查询 -->
    <select id="selectTenantInfoVO" parameterType="java.lang.String" resultMap="tenantInfoMap">
        <include refid="selectTenantInfoVO"/>
        WHERE id = #{id}
    </select>
    
    <select id="findTenantInfoCount" resultType="java.lang.Integer">
        SELECT COUNT(id)
        FROM ta_fly_tenant_info
    </select>

    <!-- 批量添加 -->
    <insert id="batchSave" parameterType="java.util.List">
        INSERT INTO ta_fly_tenant_info (id ,
        parent_id ,
        parent_title ,
        type_id ,
        type_title ,
        title ,
        title_as ,
        home_icon ,
        home_uri ,
        owner_id ,
        owner_nick_name ,
        telephone ,
        e_mail_box ,
        facsimile ,
        func_code ,
        valid_flag ,
        remarks ,
        create_time ,
        create_user ,
        create_user_id ,
        update_time ,
        update_user ,
        update_user_id
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id},
            #{item.parentId},
            #{item.parentTitle},
            #{item.typeId},
            #{item.typeTitle},
            #{item.title},
            #{item.titleAs},
            #{item.homeIcon},
            #{item.homeUri},
            #{item.ownerId},
            #{item.ownerNickName},
            #{item.telephone},
            #{item.eMailBox},
            #{item.facsimile},
            #{item.funcCode},
            #{item.validFlag},
            #{item.remarks},
            #{item.createTime},
            #{item.createUser},
            #{item.createUserId},
            #{item.updateTime},
            #{item.updateUser},
            #{item.updateUserId})
        </foreach>
    </insert>

    <!-- 批量更新 -->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            UPDATE ta_fly_tenant_info
            <set>
                <if test="null != item.id  and '' != item.id ">id =
                    #{item.id},
                </if>
                <if test="null != item.parentId  and '' != item.parentId ">parent_id =
                    #{item.parentId},
                </if>
                <if test="null != item.parentTitle  and '' != item.parentTitle ">parent_title =
                    #{item.parentTitle},
                </if>
                <if test="null != item.typeId  and '' != item.typeId ">type_id =
                    #{item.typeId},
                </if>
                <if test="null != item.typeTitle  and '' != item.typeTitle ">type_title =
                    #{item.typeTitle},
                </if>
                <if test="null != item.title  and '' != item.title ">title =
                    #{item.title},
                </if>
                <if test="null != item.titleAs  and '' != item.titleAs ">title_as =
                    #{item.titleAs},
                </if>
                <if test="null != item.homeIcon  and '' != item.homeIcon ">home_icon =
                    #{item.homeIcon},
                </if>
                <if test="null != item.homeUri  and '' != item.homeUri ">home_uri =
                    #{item.homeUri},
                </if>
                <if test="null != item.ownerId  and '' != item.ownerId ">owner_id =
                    #{item.ownerId},
                </if>
                <if test="null != item.ownerNickName  and '' != item.ownerNickName ">owner_nick_name =
                    #{item.ownerNickName},
                </if>
                <if test="null != item.telephone  and '' != item.telephone ">telephone =
                    #{item.telephone},
                </if>
                <if test="null != item.eMailBox  and '' != item.eMailBox ">e_mail_box =
                    #{item.eMailBox},
                </if>
                <if test="null != item.facsimile  and '' != item.facsimile ">facsimile =
                    #{item.facsimile},
                </if>
                <if test="null != item.funcCode  and '' != item.funcCode ">func_code =
                    #{item.funcCode},
                </if>
                <if test="null != item.validFlag  and '' != item.validFlag ">valid_flag =
                    #{item.validFlag},
                </if>
                <if test="null != item.remarks  and '' != item.remarks ">remarks =
                    #{item.remarks},
                </if>
                <if test="null != item.createTime ">create_time =
                    #{item.createTime},
                </if>
                <if test="null != item.createUser  and '' != item.createUser ">create_user =
                    #{item.createUser},
                </if>
                <if test="null != item.createUserId  and '' != item.createUserId ">create_user_id =
                    #{item.createUserId},
                </if>
                <if test="null != item.updateTime ">update_time =
                    #{item.updateTime},
                </if>
                <if test="null != item.updateUser  and '' != item.updateUser ">update_user =
                    #{item.updateUser},
                </if>
                <if test="null != item.updateUserId  and '' != item.updateUserId ">update_user_id =
                    #{item.updateUserId},
                </if>
            </set>
            WHERE id = #{item.id}
        </foreach>
    </update>


</mapper>