<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <th:block th:include="common/common::common('用户信息')"/>
    <th:block th:include="common/common::zTree"/>
    <script th:src="@{/static/admin_v1/user/index.js}" charset="utf-8"></script>
    <style>
        .layui-unselect .layui-form-switch em {
            background-color: #e11299;
        }
    </style>
</head>
<body class="bg-color">

<!-- 表头工具栏 -->
<script type="text/html" id="toolbar">
    <div class="tool-head-bar">
        <div class="head-search" sec:authorize="hasAuthority('admin:user:info:query')">
            <input class="layui-input float_left" placeholder="姓名"
                   id="name" name="name" autocomplete="off">
            <button class="layui-btn layui-btn-sm layui-btn-normal search-btn float_left"
                    lay-event="search">
                <i class="layui-icon layui-icon-search"></i>搜索
            </button>
        </div>
        <button sec:authorize="hasAuthority('admin:user:info:save')"
                class="layui-btn layui-btn-sm layui-btn-normal add-btn"
                lay-event="saveUserInfo" id="headBarTool">
            <i class="layui-icon"></i>新增
        </button>
    </div>
</script>


<div class="tree-container">
    <div class="tree-box">
        <div class="tree-title">部门树</div>
        <div class="tree-title-line"></div>
        <div id="tree" class="ztree"></div>
    </div>
    <!--右侧内容-->
    <div class=" tree-table-content ">
        <div class="tree-table">
            <!-- 表格 -->
            <div class="layui_table">
                <table class="layui-hide" id="layTable" lay-filter="layFilter"></table>
            </div>
        </div>
    </div>
</div>

<!--<div class="body_info">-->
<!--    <div class="data_div">-->
<!--        &lt;!&ndash; 表格 &ndash;&gt;-->
<!--        <div class="layui_table">-->
<!--            <table class="layui-hide" id="layTable" lay-filter="layFilter"></table>-->
<!--            <div id="layPage"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!-- 操作工具栏 -->
<script type="text/html" id="toolbarHandle">
    <button sec:authorize="hasAuthority('admin:user:info:view')"
            class="tool-bar-btn see-button" lay-event="view">
        <i class="layui-icon layui-icon-list"></i>查看
    </button>
    <button sec:authorize="hasAuthority('admin:user:info:update')"
            class="tool-bar-btn edit-button" lay-event="update">
        <i class="layui-icon layui-icon-edit"></i>编辑
    </button>
    <button sec:authorize="hasAuthority('admin:user:role:index')"
            class="tool-bar-btn edit-button" lay-event="role">
        <i class="layui-icon layui-icon-auz"></i>角色权限
    </button>
    <button sec:authorize="hasAuthority('admin:perms:auth:index')"
            class="tool-bar-btn edit-button" lay-event="power">
        <i class="layui-icon layui-icon-vercode"></i>权限下发
    </button>
    <button sec:authorize="hasAuthority('admin:user:info:delete')"
            class="tool-bar-btn remove-button" lay-event="delete">
        <i class="layui-icon layui-icon-delete"></i>删除
    </button>
</script>

</body>
</html>