<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/common::common('查看字典数据表')"/>
    <script>
        layui.use(['form'], function () {
            form = layui.form;
            form.render();
        });
    </script>
</head>
<body>

<form class="layui-form" id="seeDictDataForm" th:object="${dictData}">
    <div class="layui-form-body-see">

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            字典排序
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="dictSort" name="dictSort" th:field="*{dictSort}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            字典标签
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="dictLabel" name="dictLabel" th:field="*{dictLabel}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            字典键值
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="dictValue" name="dictValue" th:field="*{dictValue}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            字典类型
                        </label>
                        <div class="layui-input-block">
                            <select id="dictType" name="dictType" disabled="disabled"
                                    th:with="dicts=${@dict.data('log_business_type')}">
                                <option value="">请选择字典类型</option>
                                <option th:each="dict : ${dicts}"
                                        th:id="${'dictType_' + dict.value}"
                                        th:field="*{dictType}"
                                        th:text="${dict.label}"
                                        th:value="${dict.value}"
                                        th:checked="dictType">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            是否默认
                        </label>
                        <div class="layui-input-block" th:with="dicts=${@dict.data('can_usable')}">
                            <input type="radio" name="isDefault" th:each="dict : ${dicts}"
                                   th:id="${'isDefault_' + dict.value}" disabled="disabled"
                                   th:field="*{isDefault}"
                                   th:title="${dict.label}"
                                   th:value="${dict.value}"
                                   th:checked="${dictData.isDefault}">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            状态,数据字典:dict_data_status
                        </label>
                        <div class="layui-input-block" th:with="dicts=${@dict.data('dict_data_status')}">
                            <input type="radio" name="status" th:each="dict : ${dicts}"
                                   th:id="${'status_' + dict.value}" disabled="disabled"
                                   th:field="*{status}"
                                   th:title="${dict.label}"
                                   th:value="${dict.value}"
                                   th:checked="${dictData.status}">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            备注
                        </label>
                        <div class="layui-input-block">
                        <textarea id="remarks" name="remarks" th:field="*{remarks}" maxlength="200"
                                  readonly="readonly"
 autocomplete="off"
                                  class="layui-textarea"></textarea>
                        </div>
                    </div>
    </div>
</form>

</body>
</html>