<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="layui-collapse">
    <div class="layui-colla-item">
        <div class="layui-colla-title">layui 主要面向哪些用户群体？</div>
        <div class="layui-colla-content layui-show">
            Layui 作为一个前端界面组件库，但面向的却主要是后端开发者。
            <br>即无需涉足各类构建工具，只需面向浏览器本身，便可将页面所需呈现的元素与交互信手拈来。
        </div>
    </div>
    <div class="layui-colla-item">
        <div class="layui-colla-title">为什么我的眼里常含泪水？</div>
        <div class="layui-colla-content">
            <p>因为我对这片土地爱的深沉。</p>
        </div>
    </div>
    <div class="layui-colla-item">
        <div class="layui-colla-title">Why are my eyes always brimming with tears?</div>
        <div class="layui-colla-content">
            <p>Because I love this land so deeply…</p>
        </div>
    </div>
    <div class="layui-colla-item">
        <div class="layui-colla-title">一个折叠面板的标题？</div>
        <div class="layui-colla-content">
            <p>一个折叠面板的内容。</p>
        </div>
    </div>
</div>
</body>


<script>

    console.log(generateUUID())
    console.log(getGuid())

    function generateUUID() {
        let d = new Date().getTime();
        let uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            let r = (d + Math.random() * 16) % 16 | 0;
            d = Math.floor(d / 16);
            return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
        });
        return uuid.toUpperCase();
    }


    function getGuid() {
        let guid = "";
        for (let i = 1; i <= 32; i++) {
            let n = Math.floor(Math.random() * 16.0).toString(16);
            guid += n;
            // if ((i == 8) || (i == 12) || (i == 16) || (i == 20)){
            //   guid += "-";
            // }
        }
        return guid.toUpperCase();
    }


</script>

</html>