<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/common::common('新增字典数据表')"/>
    <script th:src="@{/static/admin_v1/dict/data/add.js}" charset="utf-8"></script>
</head>
<body>

<form class="layui-form" id="addDictDataForm">
    <input type="text" th:value="*{dictType}" id="dictType" name="dictType" style="display: none">
    <div class="layui-form-item">
        <label class="layui-form-label">
            <span class="required">*</span>字典标签
        </label>
        <div class="layui-input-block">
            <input type="text" id="dictLabel" name="dictLabel"
                   autocomplete="off" lay-verify="required" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">
            <span class="required">*</span>字典键值
        </label>
        <div class="layui-input-block">
            <input type="text" id="dictValue" name="dictValue"
                   autocomplete="off" lay-verify="required" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">
            <span class="required">*</span>是否默认
        </label>
        <div class="layui-input-block" th:with="dicts=${@dict.data('is_default')}">
            <input type="radio" name="isDefault" th:each="dict : ${dicts}"
                   th:id="${'isDefault_' + dict.value}"
                   th:title="${dict.label}"
                   th:value="${dict.value}"
                   th:checked="${dict.isDefault}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">
            <span class="required">*</span>状态
        </label>
        <div class="layui-input-block" th:with="dicts=${@dict.data('dict_data_status')}">
            <input type="radio" name="status" th:each="dict : ${dicts}"
                   th:id="${'status_' + dict.value}"
                   th:title="${dict.label}"
                   th:value="${dict.value}"
                   th:checked="${dict.isDefault}">
        </div>
    </div>

    <div class="layui-form-body">
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="required">*</span>字典排序
            </label>
            <div class="layui-input-block">
                <input type="text" id="dictSort" name="dictSort"
                       autocomplete="off" lay-verify="required" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                备注
            </label>
            <div class="layui-input-block">
                        <textarea id="remarks" name="remarks" maxlength="200"
                                  autocomplete="off" class="layui-textarea"></textarea>
            </div>
        </div>

    </div>
    <div class="form-footer">
        <button type="button" class="button-sub" lay-submit lay-filter="saveDictData">保存</button>
        <button type="button" class="button-close" id="buttonClose">关闭</button>
    </div>
</form>
</body>
</html>