<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:text="${title}">主页</title>
    <link rel="shortcut icon" th:href="@{/static/assets/images/logo.png}" type="image/x-icon"/>
    <!-- 依 赖 样 式 -->
    <link rel="stylesheet" th:href="@{/static/assets/home/pear/v4/component/pear/css/pear.css}"/>
    <!-- 布 局 样 式 -->
    <link rel="stylesheet" th:href="@{/static/assets/home/pear/v4/admin/css/admin.css}"/>
    <link rel="stylesheet" th:href="@{/static/assets/home/pear/v4/admin/css/admin.dark.css}"/>
    <link rel="stylesheet" th:href="@{/static/assets/home/pear/v4/admin/css/variables.css}"/>
    <link rel="stylesheet" th:href="@{/static/assets/home/pear/v4/admin/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/static/assets/fly/css/fly-ui.css}" media="all"/>
    <!-- 加 载 样 式 -->
    <!--    <link rel="stylesheet" th:href="@{/static/assets/home/pear/v4/admin/css/loader.css}"/>-->


    <style>
        .pear-nav-tree .layui-nav-item dd a {
            height: 40px !important;
            line-height: 40px !important;
        }

        .pear-nav-tree .layui-nav-item > a {
            height: 40px !important;
            line-height: 40px !important;
        }

        .pear-nav-tree.arrow .layui-nav-more {
            margin-top: -10px;
        }

    </style>

</head>
<!-- 结 构 代 码 -->
<body class="layui-layout-body pear-admin">
<input type="text" value="/static/assets/images/logo.png" id="logoImage" name="logoImage" style="display: none">
<input type="text" th:value="*{referredToAs}" id="clientName" name="clientName" style="display: none">
<input type="text" th:value="*{homeId}" id="mainHomeId" name="mainHomeId" style="display: none">
<input type="text" th:value="*{homeUri}" id="mainHomeUri" name="mainHomeUri" style="display: none">
<input type="text" th:value="*{menuName}" id="mainHomeTitle" name="mainHomeTitle" style="display: none">
<input type="text" th:value="*{permsAuthUri}" id="permsAuthUri" name="permsAuthUri" style="display: none">
<input type="text" th:value="*{version}" id="appVersion" name="appVersion" style="display: none">
<!-- 布 局 框 架 -->
<div class="layui-layout layui-layout-admin">
    <!-- 顶 部 样 式 -->
    <div class="layui-header">
        <!-- 菜 单 顶 部 -->
        <div class="layui-logo">
            <!-- 图 标 -->
            <img class="logo">
            <!-- 标 题 -->
            <span class="title"></span>
        </div>
        <!-- 顶 部 左 侧 功 能 -->
        <ul class="layui-nav layui-layout-left">
            <li class="collapse layui-nav-item">
                <a href="javascript:void(0);" class="layui-icon layui-icon-shrink-right"></a>
            </li>
            <li class="refresh layui-nav-item">
                <a href="javascript:void(0);" class="layui-icon layui-icon-refresh" loading=600></a>
            </li>
        </ul>
        <!-- 多 系 统 菜 单 -->
        <div id="control" class="layui-layout-control"></div>
        <!-- 顶 部 右 侧 菜 单 -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide-xs">
                <a href="javascript:void(0);" class="menuSearch layui-icon layui-icon-search"></a>
            </li>
            <li class="layui-nav-item layui-hide-xs message"></li>
            <li class="layui-nav-item layui-hide-xs">
                <a href="javascript:void(0);" class="fullScreen layui-icon layui-icon-screen-full"></a>
            </li>
            <li class="layui-nav-item user">
                <!-- 头 像 -->
                <!--                <a class="layui-icon layui-icon-username" href="javascript:void(0);"></a>-->
                <a href="javascript:void(0);">
                    <img th:src="(${avatar} eq null or ${avatar} eq '') ? @{/static/assets/fly/images/avatar.jpg} : @{${avatar}}"
                         class="layui-nav-img">
                    <span th:text="${userName}"></span>
                </a>
                <!-- 功 能 菜 单 -->
                <dl class="layui-nav-child">
                    <dd id="userRoleInfo"></dd>
                    <hr>
                    <!--                    <dd>-->
                    <!--                        <a user-menu-url="view/profile/index" user-menu-id="5555"-->
                    <!--                           user-menu-title="基本资料">基本资料-->
                    <!--                        </a>-->
                    <!--                    </dd>-->
                    <dd><a href="javascript:void(0);" class="logout pear-icon pear-icon-sign-out">
                        <span style="margin-left: 5px">注销登录</span>
                    </a></dd>
                </dl>
            </li>
            <!-- 主 题 配 置 -->
            <li class="layui-nav-item setting">
                <a href="javascript:void(0);" class="layui-icon layui-icon-more-vertical"></a>
            </li>
        </ul>
    </div>
    <!-- 侧 边 区 域 -->
    <div class="layui-side layui-bg-black">
        <!-- 菜 单 顶 部 -->
        <div class="layui-logo">
            <!-- 图 标 -->
            <img class="logo">
            <!-- 标 题 -->
            <span class="title"></span>
        </div>
        <!-- 菜 单 内 容 -->
        <div class="layui-side-scroll">
            <div id="side"></div>
        </div>
    </div>
    <!-- 视 图 页 面 -->
    <div class="layui-body">
        <!-- 内 容 页 面 -->
        <div id="content"></div>
    </div>
    <!-- 页脚 -->
    <div class="layui-footer layui-text"></div>
    <!-- 遮 盖 层 -->
    <div class="pear-cover"></div>
    <!-- 加 载 动 画 -->
    <div class="loader-wrapper">
        <!-- 动 画 对 象 -->
        <div class="loader"></div>
    </div>
</div>
<!-- 移 动 端 便 捷 操 作 -->
<div class="pear-collapsed-pe collapse">
    <a href="javascript:void(0);" class="layui-icon layui-icon-shrink-right"></a>
</div>
<!-- 依 赖 脚 本 -->
<script type="text/javascript" th:src="@{/static/fly.js}"></script>
<script type="text/javascript" th:src="@{/static/assets/fly/js/fly-config.js}"></script>
<script type="text/javascript" th:src="@{/static/assets/fly/jquery-3.7.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/assets/fly/js/spark-md5.js}"></script>
<script type="text/javascript" th:src="@{/static/assets/fly/js/fly-ui.js}"></script>
<script type="text/javascript" th:src="@{/static/assets/home/pear/v4/component/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/assets/home/pear/v4/component/pear/pear.js}"></script>


<!-- 框 架 初 始 化 -->
<script>
    layui.use(['admin', 'jquery', 'popup'], function () {
        var admin = layui.admin;
        var popup = layui.popup;


        $.ajax({
            type: 'GET',
            url: HTTP_BIZ_URI + '/auth/user/role/list',
            success: function (res) {
                if (res.success) {
                    let data = res.data;
                    // userRoleInfo
                    let html = '';
                    for (let i = 0; i < data.length; i++) {
                        html += ' <a class="layui-icon layui-icon-username" onclick="refreshUserDetails(\'' + data[i].id + '\')" style="cursor: pointer;">\n' +
                            ' <span style="margin-left: 5px">' + data[i].name + '</span>\n' +
                            '</a>'
                    }
                    $('#userRoleInfo').append(html);
                }
            },
        })


        // yml | json | api
        admin.setConfigurationPath(HTTP_BIZ_URI + "/static/assets/home/pear/v4/config/pear.config.yml");

        // 渲染
        admin.render();

        // 注销
        admin.logout(function () {

            popup.success("注销成功", function () {
                $.ajax({
                    type: 'GET',
                    async: false,
                    url: HTTP_BIZ_URI + '/logout',
                    success: function (res) {
                        location.href = HTTP_BIZ_URI + "/login";
                    },
                })
            })
            // 注销逻辑 返回 true / false
            //  return true;

            // 清空 tabs 缓存
            return new Promise((resolve) => {
                resolve(true)
            });
        });
    })


    /**
     * 刷新用户信息
     * @param roleId 用户身份ID
     */
    function refreshUserDetails(roleId) {
        $.http.post({
            url: HTTP_BIZ_URI + '/refresh/user/details/' + roleId,
            callback: function (res) {
                layer.msg('身份信息切换成功！', {icon: 1, time: 1500});
                top.location.reload();
            }
        })
    }

</script>
</body>
</html>