<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.itdachen.admin.mapper.IAuthorizedRefreshTokenMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.itdachen.admin_v1.sdk.vo.AuthorizedRefreshTokenVo" id="authorizedRefreshTokenMap">
        <result property="id" column="id"/>
        <result property="appId" column="app_id"/>
        <result property="authorizerAppid" column="authorizer_appid"/>
        <result property="authorizerAccessToken" column="authorizer_access_token"/>
        <result property="expiresIn" column="expires_in"/>
        <result property="expireTime" column="expire_time"/>
        <result property="authorizerRefreshToken" column="authorizer_refresh_token"/>
        <result property="secretKey" column="secret_key"/>
        <result property="funcInfo" column="func_info"/>
        <result property="isCancel" column="is_cancel"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!-- 查收 sql -->
    <sql id="selectAuthorizedRefreshTokenVo">
        SELECT id,
               app_id,
               authorizer_appid,
               authorizer_access_token,
               expires_in,
               expire_time,
               authorizer_refresh_token,
               secret_key,
               func_info,
               is_cancel,
               create_time,
               update_time
        FROM sys_authorized_refresh_token
    </sql>

    <!-- 分页查询 -->
    <select id="findAuthorizedRefreshTokenPage"
            parameterType="com.github.itdachen.admin_v1.sdk.query.AuthorizedRefreshTokenQuery"
            resultMap="authorizedRefreshTokenMap">
        <include refid="selectAuthorizedRefreshTokenVo"/>
        <where>
            <if test="null != appId  and '' != appId ">
                AND app_id = #{appId}
            </if>
            <if test="null != authorizerAppid  and '' != authorizerAppid ">
                AND authorizer_appid = #{authorizerAppid}
            </if>
            <if test="null != isCancel  and '' != isCancel ">
                AND is_cancel = #{isCancel}
            </if>
        </where>
    </select>

    <insert id="saveAuthorizedRefreshToken" parameterType="com.github.itdachen.admin_v1.entity.AuthorizedRefreshToken">
        INSERT INTO sys_authorized_refresh_token
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != id  and '' != id ">id,
            </if>
            <if test="null != appId  and '' != appId ">app_id,
            </if>
            <if test="null != authorizerAppid  and '' != authorizerAppid ">authorizer_appid,
            </if>
            <if test="null != authorizerAccessToken  and '' != authorizerAccessToken ">authorizer_access_token,
            </if>
            <if test="null != expiresIn ">expires_in,
            </if>
            <if test="null != expireTime ">expire_time,
            </if>
            <if test="null != authorizerRefreshToken  and '' != authorizerRefreshToken ">authorizer_refresh_token,
            </if>
            <if test="null != secretKey  and '' != secretKey ">secret_key,
            </if>
            <if test="null != funcInfo  and '' != funcInfo ">func_info,
            </if>
            <if test="null != isCancel  and '' != isCancel ">is_cancel,
            </if>
            <if test="null != createTime ">create_time,
            </if>
            <if test="null != updateTime ">update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null != id  and '' != id">#{id},
            </if>
            <if test="null != appId  and '' != appId">#{appId},
            </if>
            <if test="null != authorizerAppid  and '' != authorizerAppid">#{authorizerAppid},
            </if>
            <if test="null != authorizerAccessToken  and '' != authorizerAccessToken">#{authorizerAccessToken},
            </if>
            <if test="null != expiresIn ">#{expiresIn},
            </if>
            <if test="null != expireTime ">#{expireTime},
            </if>
            <if test="null != authorizerRefreshToken  and '' != authorizerRefreshToken">#{authorizerRefreshToken},
            </if>
            <if test="null != secretKey  and '' != secretKey">#{secretKey},
            </if>
            <if test="null != funcInfo  and '' != funcInfo">#{funcInfo},
            </if>
            <if test="null != isCancel  and '' != isCancel">#{isCancel},
            </if>
            <if test="null != createTime ">#{createTime},
            </if>
            <if test="null != updateTime ">#{updateTime},
            </if>
        </trim>
    </insert>

    <update id="updateAuthorizedRefreshToken" parameterType="com.github.itdachen.admin_v1.entity.AuthorizedRefreshToken">
        UPDATE sys_authorized_refresh_token
        <trim prefix="SET" suffixOverrides=",">
            <if test="null != appId  and '' !=  appId ">app_id = #{appId},
            </if>
            <if test="null != authorizerAppid  and '' !=  authorizerAppid ">authorizer_appid = #{authorizerAppid},
            </if>
            <if test="null != authorizerAccessToken  and '' !=  authorizerAccessToken ">authorizer_access_token =
                #{authorizerAccessToken},
            </if>
            <if test="null != expiresIn ">expires_in = #{expiresIn},
            </if>
            <if test="null != expireTime ">expire_time = #{expireTime},
            </if>
            <if test="null != authorizerRefreshToken  and '' !=  authorizerRefreshToken ">authorizer_refresh_token =
                #{authorizerRefreshToken},
            </if>
            <if test="null != secretKey  and '' !=  secretKey ">secret_key = #{secretKey},
            </if>
            <if test="null != funcInfo  and '' !=  funcInfo ">func_info = #{funcInfo},
            </if>
            <if test="null != isCancel  and '' !=  isCancel ">is_cancel = #{isCancel},
            </if>
            <if test="null != createTime ">create_time = #{createTime},
            </if>
            <if test="null != updateTime ">update_time = #{updateTime},
            </if>
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="deleteAuthorizedRefreshTokenById" parameterType="java.lang.String">
        DELETE
        FROM sys_authorized_refresh_token
        WHERE id = #{id}
    </delete>

    <!-- 批量添加 -->
    <insert id="batchSave" parameterType="java.util.List">
        INSERT INTO sys_authorized_refresh_token (id, app_id, authorizer_appid,
        authorizer_access_token, expires_in, expire_time, authorizer_refresh_token,
        secret_key, func_info, is_cancel, create_time, update_time
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.appId}, #{item.authorizerAppid}, #{item.authorizerAccessToken},
            #{item.expiresIn}, #{item.expireTime},
            #{item.authorizerRefreshToken}, #{item.secretKey},
            #{item.funcInfo}, #{item.isCancel},
            #{item.createTime}, #{item.updateTime})
        </foreach>
    </insert>


    <!-- 批量更新 -->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            UPDATE sys_authorized_refresh_token
            <set>
                <if test="null != item.id  and '' != item.id ">id =
                    #{item.id},
                </if>
                <if test="null != item.appId  and '' != item.appId ">app_id =
                    #{item.appId},
                </if>
                <if test="null != item.authorizerAppid  and '' != item.authorizerAppid ">authorizer_appid =
                    #{item.authorizerAppid},
                </if>
                <if test="null != item.authorizerAccessToken  and '' != item.authorizerAccessToken ">
                    authorizer_access_token =
                    #{item.authorizerAccessToken},
                </if>
                <if test="null != item.expiresIn ">expires_in =
                    #{item.expiresIn},
                </if>
                <if test="null != item.expireTime ">expire_time =
                    #{item.expireTime},
                </if>
                <if test="null != item.authorizerRefreshToken  and '' != item.authorizerRefreshToken ">
                    authorizer_refresh_token =
                    #{item.authorizerRefreshToken},
                </if>
                <if test="null != item.secretKey  and '' != item.secretKey ">secret_key =
                    #{item.secretKey},
                </if>
                <if test="null != item.funcInfo  and '' != item.funcInfo ">func_info =
                    #{item.funcInfo},
                </if>
                <if test="null != item.isCancel  and '' != item.isCancel ">is_cancel =
                    #{item.isCancel},
                </if>
                <if test="null != item.createTime ">create_time =
                    #{item.createTime},
                </if>
                <if test="null != item.updateTime ">update_time =
                    #{item.updateTime},
                </if>
            </set>
            WHERE id = #{item.id}
        </foreach>
    </update>


</mapper>