<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.itdachen.admin.mapper.IMakeUseLogMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.itdachen.admin_v1.sdk.vo.MakeUseLogVo" id="makeUseLogMap">
        <result property="id" column="id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="serviceId" column="service_id"/>
        <result property="clientId" column="client_id"/>
        <result property="requestId" column="request_id"/>
        <result property="menuTitle" column="menu_title"/>
        <result property="makeUseType" column="make_use_type"/>
        <result property="logType" column="log_type"/>
        <result property="makeUseIp" column="make_use_ip"/>
        <result property="makeUseAddress" column="make_use_address"/>
        <result property="makeUseStatus" column="make_use_status"/>
        <result property="userAgent" column="user_agent"/>
        <result property="requestUri" column="request_uri"/>
        <result property="requestMethod" column="request_method"/>
        <result property="params" column="params"/>
        <result property="jsonResult" column="json_result"/>
        <result property="delFlag" column="del_flag"/>
        <result property="exception" column="exception"/>
        <result property="remarks" column="remarks"/>
        <result property="executeTime" column="execute_time"/>
        <result property="msg" column="msg"/>
    </resultMap>

    <sql id="selectMakeUseLogVo">
        SELECT id,
               tenant_id,
               service_id,
               client_id,
               request_id,
               menu_title,
               make_use_type,
               log_type,
               make_use_ip,
               make_use_address,
               make_use_status,
               user_agent,
               request_uri,
               request_method,
               params,
               json_result,
               del_flag, exception, remarks, execute_time, msg
        FROM sys_make_use_log
    </sql>

    <!-- 集合查询 -->
    <select id="page" resultMap="makeUseLogMap"
            parameterType="com.github.itdachen.admin_v1.sdk.query.MakeUseLogQuery">
        <include refid="selectMakeUseLogVo"/>
        <where>
            <if test="null != tenantId  and '' != tenantId ">
                AND tenant_id = #{tenantId}
            </if>
            <if test="null != serviceId  and '' != serviceId ">
                AND service_id = #{serviceId}
            </if>
            <if test="null != clientId  and '' != clientId ">
                AND client_id = #{clientId}
            </if>
            <if test="null != requestId  and '' != requestId ">
                AND request_id = #{requestId}
            </if>
            <if test="null != menuTitle  and '' != menuTitle ">
                AND menu_title LIKE CONCAT(CONCAT('%',#{menuTitle}),'%')
            </if>
            <if test="null != makeUseType  and '' != makeUseType ">
                AND make_use_type = #{makeUseType}
            </if>
            <if test="null != logType  and '' != logType ">
                AND log_type = #{logType}
            </if>
            <if test="null != makeUseIp  and '' != makeUseIp ">
                AND make_use_ip = #{makeUseIp}
            </if>
            <if test="null != makeUseAddress  and '' != makeUseAddress ">
                AND make_use_address = #{makeUseAddress}
            </if>
            <if test="null != makeUseStatus  and '' != makeUseStatus ">
                AND make_use_status = #{makeUseStatus}
            </if>
            <if test="null != userAgent  and '' != userAgent ">
                AND user_agent = #{userAgent}
            </if>
            <if test="null != requestUri  and '' != requestUri ">
                AND request_uri = #{requestUri}
            </if>
            <if test="null != requestMethod  and '' != requestMethod ">
                AND request_method = #{requestMethod}
            </if>
            <if test="null != params  and '' != params ">
                AND params = #{params}
            </if>
            <if test="null != jsonResult  and '' != jsonResult ">
                AND json_result = #{jsonResult}
            </if>
            <if test="null != delFlag  and '' != delFlag ">
                AND del_flag = #{delFlag}
            </if>
            <if test="null != executeTime  and '' != executeTime ">
                AND execute_time = #{executeTime}
            </if>
            <if test="null != msg  and '' != msg ">
                AND msg = #{msg}
            </if>
        </where>
        ORDER BY id DESC
    </select>

</mapper>