<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.itdachen.admin.mapper.INetDiskInfoMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.itdachen.admin_v1.sdk.vo.NetDiskInfoVo" id="netDiskInfoMap">
        <result property="id" column="id"/>
        <result property="bizMd5" column="biz_md5"/>
        <result property="realPath" column="real_path"/>
        <result property="url" column="url"/>
        <result property="fileName" column="file_name"/>
        <result property="fileSize" column="file_size"/>
        <result property="fileFormat" column="file_format"/>
        <result property="bizType" column="biz_type"/>
        <result property="downloadCount" column="download_count"/>
    </resultMap>

    <!-- 查收 sql -->
    <sql id="selectNetDiskInfoVo">
        SELECT id,
               biz_md5,
               real_path,
               url,
               file_name,
               file_size,
               file_format,
               biz_type,
               download_count
        FROM sys_net_disk_info
    </sql>

    <!-- 分页查询 -->
    <select id="findNetDiskInfoPage" parameterType="com.github.itdachen.admin_v1.sdk.query.NetDiskInfoQuery"
            resultMap="netDiskInfoMap">
        <include refid="selectNetDiskInfoVo"/>
        <where>
            <if test="null != bizMd5  and '' != bizMd5 ">
                AND biz_md5 = #{bizMd5}
            </if>
            <if test="null != realPath  and '' != realPath ">
                AND real_path = #{realPath}
            </if>
            <if test="null != url  and '' != url ">
                AND url = #{url}
            </if>
            <if test="null != fileName  and '' != fileName ">
                AND file_name LIKE CONCAT(CONCAT('%',#{fileName}),'%')
            </if>
            <if test="null != fileSize ">
                AND file_size = #{fileSize}
            </if>
            <if test="null != fileFormat  and '' != fileFormat ">
                AND file_format = #{fileFormat}
            </if>
            <if test="null != bizType ">
                AND biz_type = #{bizType}
            </if>
            <if test="null != downloadCount ">
                AND download_count = #{downloadCount}
            </if>
        </where>
    </select>

    <!-- 根据id查询 -->
    <select id="getById" parameterType="java.lang.String" resultMap="netDiskInfoMap">
        <include refid="selectNetDiskInfoVo"/>
        WHERE id = #{id}
    </select>

    <insert id="saveNetDiskInfo" parameterType="com.github.itdachen.admin_v1.entity.NetDiskInfo">
        INSERT INTO sys_net_disk_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != id  and '' != id ">id,
            </if>
            <if test="null != bizMd5  and '' != bizMd5 ">biz_md5,
            </if>
            <if test="null != realPath  and '' != realPath ">real_path,
            </if>
            <if test="null != url  and '' != url ">url,
            </if>
            <if test="null != fileName  and '' != fileName ">file_name,
            </if>
            <if test="null != fileSize ">file_size,
            </if>
            <if test="null != fileFormat  and '' != fileFormat ">file_format,
            </if>
            <if test="null != bizType ">biz_type,
            </if>
            <if test="null != downloadCount ">download_count,
            </if>
            <if test="null != createTime ">create_time,
            </if>
            <if test="null != createUserId  and '' != createUserId ">create_user_id,
            </if>
            <if test="null != createUser  and '' != createUser ">create_user,
            </if>
            <if test="null != updateTime ">update_time,
            </if>
            <if test="null != updateUserId  and '' != updateUserId ">update_user_id,
            </if>
            <if test="null != updateUser  and '' != updateUser ">update_user,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null != id  and '' != id">#{id},
            </if>
            <if test="null != bizMd5  and '' != bizMd5">#{bizMd5},
            </if>
            <if test="null != realPath  and '' != realPath">#{realPath},
            </if>
            <if test="null != url  and '' != url">#{url},
            </if>
            <if test="null != fileName  and '' != fileName">#{fileName},
            </if>
            <if test="null != fileSize ">#{fileSize},
            </if>
            <if test="null != fileFormat  and '' != fileFormat">#{fileFormat},
            </if>
            <if test="null != bizType ">#{bizType},
            </if>
            <if test="null != downloadCount ">#{downloadCount},
            </if>
            <if test="null != createTime ">#{createTime},
            </if>
            <if test="null != createUserId  and '' != createUserId">#{createUserId},
            </if>
            <if test="null != createUser  and '' != createUser">#{createUser},
            </if>
            <if test="null != updateTime ">#{updateTime},
            </if>
            <if test="null != updateUserId  and '' != updateUserId">#{updateUserId},
            </if>
            <if test="null != updateUser  and '' != updateUser">#{updateUser},
            </if>
        </trim>
    </insert>

    <update id="updateNetDiskInfo" parameterType="com.github.itdachen.admin_v1.entity.NetDiskInfo">
        UPDATE sys_net_disk_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="null != bizMd5  and '' !=  bizMd5 ">biz_md5 = #{bizMd5},
            </if>
            <if test="null != realPath  and '' !=  realPath ">real_path = #{realPath},
            </if>
            <if test="null != url  and '' !=  url ">url = #{url},
            </if>
            <if test="null != fileName  and '' !=  fileName ">file_name = #{fileName},
            </if>
            <if test="null != fileSize ">file_size = #{fileSize},
            </if>
            <if test="null != fileFormat  and '' !=  fileFormat ">file_format = #{fileFormat},
            </if>
            <if test="null != bizType ">biz_type = #{bizType},
            </if>
            <if test="null != downloadCount ">download_count = #{downloadCount},
            </if>
            <if test="null != createTime ">create_time = #{createTime},
            </if>
            <if test="null != createUserId  and '' !=  createUserId ">create_user_id = #{createUserId},
            </if>
            <if test="null != createUser  and '' !=  createUser ">create_user = #{createUser},
            </if>
            <if test="null != updateTime ">update_time = #{updateTime},
            </if>
            <if test="null != updateUserId  and '' !=  updateUserId ">update_user_id = #{updateUserId},
            </if>
            <if test="null != updateUser  and '' !=  updateUser ">update_user = #{updateUser},
            </if>
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="deleteNetDiskInfoById" parameterType="java.lang.String">
        DELETE
        FROM sys_net_disk_info
        WHERE id = #{id}
    </delete>

    <!-- 批量添加 -->
    <insert id="batchSave" parameterType="java.util.List">
        INSERT INTO sys_net_disk_info (id ,
        biz_md5 ,
        real_path ,
        url ,
        file_name ,
        file_size ,
        file_format ,
        biz_type ,
        download_count ,
        create_time ,
        create_user_id ,
        create_user ,
        update_time ,
        update_user_id ,
        update_user
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id},
            #{item.bizMd5},
            #{item.realPath},
            #{item.url},
            #{item.fileName},
            #{item.fileSize},
            #{item.fileFormat},
            #{item.bizType},
            #{item.downloadCount},
            #{item.createTime},
            #{item.createUserId},
            #{item.createUser},
            #{item.updateTime},
            #{item.updateUserId},
            #{item.updateUser})
        </foreach>
    </insert>


    <!-- 批量更新 -->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            UPDATE sys_net_disk_info
            <set>
                <if test="null != item.id  and '' != item.id ">id =
                    #{item.id},
                </if>
                <if test="null != item.bizMd5  and '' != item.bizMd5 ">biz_md5 =
                    #{item.bizMd5},
                </if>
                <if test="null != item.realPath  and '' != item.realPath ">real_path =
                    #{item.realPath},
                </if>
                <if test="null != item.url  and '' != item.url ">url =
                    #{item.url},
                </if>
                <if test="null != item.fileName  and '' != item.fileName ">file_name =
                    #{item.fileName},
                </if>
                <if test="null != item.fileSize ">file_size =
                    #{item.fileSize},
                </if>
                <if test="null != item.fileFormat  and '' != item.fileFormat ">file_format =
                    #{item.fileFormat},
                </if>
                <if test="null != item.bizType ">biz_type =
                    #{item.bizType},
                </if>
                <if test="null != item.downloadCount ">download_count =
                    #{item.downloadCount},
                </if>
                <if test="null != item.createTime ">create_time =
                    #{item.createTime},
                </if>
                <if test="null != item.createUserId  and '' != item.createUserId ">create_user_id =
                    #{item.createUserId},
                </if>
                <if test="null != item.createUser  and '' != item.createUser ">create_user =
                    #{item.createUser},
                </if>
                <if test="null != item.updateTime ">update_time =
                    #{item.updateTime},
                </if>
                <if test="null != item.updateUserId  and '' != item.updateUserId ">update_user_id =
                    #{item.updateUserId},
                </if>
                <if test="null != item.updateUser  and '' != item.updateUser ">update_user =
                    #{item.updateUser},
                </if>
            </set>
            WHERE id = #{item.id}
        </foreach>
    </update>

</mapper>