<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.itdachen.admin.mapper.INetDiskMd5Mapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.itdachen.admin_v1.sdk.vo.NetDiskMd5Vo" id="netDiskMd5Map">
            <result property="id" column="id"/>
            <result property="md5" column="md5"/>
            <result property="realPath" column="real_path"/>
            <result property="url" column="url"/>
            <result property="fileName" column="file_name"/>
            <result property="fileSize" column="file_size"/>
            <result property="fileFormat" column="file_format"/>
    </resultMap>

    <!-- 查收 sql -->
    <sql id="selectNetDiskMd5Vo">
        SELECT id, 
md5, 
real_path, 
url, 
file_name, 
file_size, 
file_format
        FROM sys_net_disk_md5
    </sql>

    <!-- 分页查询 -->
    <select id="findNetDiskMd5Page" parameterType="com.github.itdachen.admin_v1.sdk.query.NetDiskMd5Query"
            resultMap="netDiskMd5Map">
        <include refid="selectNetDiskMd5Vo"/>
        <where>
                    <if test="null != md5  and '' != md5 ">
                        AND md5 = #{md5}
                    </if>
                    <if test="null != realPath  and '' != realPath ">
                        AND real_path = #{realPath}
                    </if>
                    <if test="null != url  and '' != url ">
                        AND url = #{url}
                    </if>
                    <if test="null != fileName  and '' != fileName ">
                        AND file_name LIKE CONCAT(CONCAT('%',#{fileName}),'%')
                    </if>
                    <if test="null != fileSize ">
                        AND file_size = #{fileSize}
                    </if>
                    <if test="null != fileFormat  and '' != fileFormat ">
                        AND file_format = #{fileFormat}
                    </if>
        </where>
    </select>

    <select id="findNetDiskMd5" resultMap="netDiskMd5Map" resultType="java.lang.String">
        <include refid="selectNetDiskMd5Vo"></include>
        WHERE md5 = #{md5Hex}
        LIMIT 1
    </select>

    <!-- 根据id查询 -->
    <select id="getById" parameterType="java.lang.String" resultMap="netDiskMd5Map">
        <include refid="selectNetDiskMd5Vo"/>
        WHERE id = #{id}
    </select>

    <insert id="saveNetDiskMd5" parameterType="com.github.itdachen.admin_v1.entity.NetDiskMd5">
        INSERT INTO sys_net_disk_md5
        <trim prefix="(" suffix=")" suffixOverrides=",">
                    <if test="null != id  and '' != id ">id,
                    </if>
                    <if test="null != md5  and '' != md5 ">md5,
                    </if>
                    <if test="null != realPath  and '' != realPath ">real_path,
                    </if>
                    <if test="null != url  and '' != url ">url,
                    </if>
                    <if test="null != fileName  and '' != fileName ">file_name,
                    </if>
                    <if test="null != fileSize ">file_size,
                    </if>
                    <if test="null != fileFormat  and '' != fileFormat ">file_format,
                    </if>
                    <if test="null != createTime ">create_time,
                    </if>
                    <if test="null != createUserId  and '' != createUserId ">create_user_id,
                    </if>
                    <if test="null != createUser  and '' != createUser ">create_user,
                    </if>
                    <if test="null != updateTime ">update_time,
                    </if>
                    <if test="null != updateUserId  and '' != updateUserId ">update_user_id,
                    </if>
                    <if test="null != updateUser  and '' != updateUser ">update_user,
                    </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                    <if test="null != id  and '' != id">#{id},
                    </if>
                    <if test="null != md5  and '' != md5">#{md5},
                    </if>
                    <if test="null != realPath  and '' != realPath">#{realPath},
                    </if>
                    <if test="null != url  and '' != url">#{url},
                    </if>
                    <if test="null != fileName  and '' != fileName">#{fileName},
                    </if>
                    <if test="null != fileSize ">#{fileSize},
                    </if>
                    <if test="null != fileFormat  and '' != fileFormat">#{fileFormat},
                    </if>
                    <if test="null != createTime ">#{createTime},
                    </if>
                    <if test="null != createUserId  and '' != createUserId">#{createUserId},
                    </if>
                    <if test="null != createUser  and '' != createUser">#{createUser},
                    </if>
                    <if test="null != updateTime ">#{updateTime},
                    </if>
                    <if test="null != updateUserId  and '' != updateUserId">#{updateUserId},
                    </if>
                    <if test="null != updateUser  and '' != updateUser">#{updateUser},
                    </if>
        </trim>
    </insert>

    <update id="updateNetDiskMd5" parameterType="com.github.itdachen.admin_v1.entity.NetDiskMd5">
        UPDATE sys_net_disk_md5
        <trim prefix="SET" suffixOverrides=",">
                    <if test="null != md5  and '' !=  md5 ">md5 = #{md5},
                    </if>
                    <if test="null != realPath  and '' !=  realPath ">real_path = #{realPath},
                    </if>
                    <if test="null != url  and '' !=  url ">url = #{url},
                    </if>
                    <if test="null != fileName  and '' !=  fileName ">file_name = #{fileName},
                    </if>
                    <if test="null != fileSize ">file_size = #{fileSize},
                    </if>
                    <if test="null != fileFormat  and '' !=  fileFormat ">file_format = #{fileFormat},
                    </if>
                    <if test="null != createTime ">create_time = #{createTime},
                    </if>
                    <if test="null != createUserId  and '' !=  createUserId ">create_user_id = #{createUserId},
                    </if>
                    <if test="null != createUser  and '' !=  createUser ">create_user = #{createUser},
                    </if>
                    <if test="null != updateTime ">update_time = #{updateTime},
                    </if>
                    <if test="null != updateUserId  and '' !=  updateUserId ">update_user_id = #{updateUserId},
                    </if>
                    <if test="null != updateUser  and '' !=  updateUser ">update_user = #{updateUser},
                    </if>
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="deleteNetDiskMd5ById" parameterType="java.lang.String">
        DELETE
        FROM sys_net_disk_md5 WHERE id = #{id}
    </delete>

    <!-- 批量添加 -->
    <insert id="batchSave" parameterType="java.util.List">
        INSERT INTO sys_net_disk_md5 (id ,
        md5 ,
        real_path ,
        url ,
        file_name ,
        file_size ,
        file_format ,
        create_time ,
        create_user_id ,
        create_user ,
        update_time ,
        update_user_id ,
        update_user
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id},
            #{item.md5},
            #{item.realPath},
            #{item.url},
            #{item.fileName},
            #{item.fileSize},
            #{item.fileFormat},
            #{item.createTime},
            #{item.createUserId},
            #{item.createUser},
            #{item.updateTime},
            #{item.updateUserId},
            #{item.updateUser})
        </foreach>
    </insert>

    <!-- 批量更新 -->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            UPDATE sys_net_disk_md5
            <set>
                <if test="null != item.id  and '' != item.id ">id =
                    #{item.id},
                </if>
                <if test="null != item.md5  and '' != item.md5 ">md5 =
                    #{item.md5},
                </if>
                <if test="null != item.realPath  and '' != item.realPath ">real_path =
                    #{item.realPath},
                </if>
                <if test="null != item.url  and '' != item.url ">url =
                    #{item.url},
                </if>
                <if test="null != item.fileName  and '' != item.fileName ">file_name =
                    #{item.fileName},
                </if>
                <if test="null != item.fileSize ">file_size =
                    #{item.fileSize},
                </if>
                <if test="null != item.fileFormat  and '' != item.fileFormat ">file_format =
                    #{item.fileFormat},
                </if>
                <if test="null != item.createTime ">create_time =
                    #{item.createTime},
                </if>
                <if test="null != item.createUserId  and '' != item.createUserId ">create_user_id =
                    #{item.createUserId},
                </if>
                <if test="null != item.createUser  and '' != item.createUser ">create_user =
                    #{item.createUser},
                </if>
                <if test="null != item.updateTime ">update_time =
                    #{item.updateTime},
                </if>
                <if test="null != item.updateUserId  and '' != item.updateUserId ">update_user_id =
                    #{item.updateUserId},
                </if>
                <if test="null != item.updateUser  and '' != item.updateUser ">update_user =
                    #{item.updateUser},
                </if>
            </set>
            WHERE id = #{item.id}
        </foreach>
    </update>

</mapper>