<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.itdachen.admin.mapper.IWorkerInfoMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.itdachen.admin_v1.sdk.vo.WorkerInfoVo" id="workerInfoMap">
        <result property="id" column="id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="workerNo" column="worker_no"/>
        <result property="workerName" column="worker_name"/>
        <result property="sex" column="sex"/>
        <result property="avatar" column="avatar"/>
        <result property="birthday" column="birthday"/>
        <result property="telephone" column="telephone"/>
        <result property="email" column="email"/>
        <result property="status" column="status"/>
        <result property="remarks" column="remarks"/>
        <result property="entryDay" column="entry_day"/>
        <result property="departDay" column="depart_day"/>
    </resultMap>

    <sql id="selectWorkerInfoVo">
        SELECT id,
               tenant_id,
               worker_no,
               worker_name,
               sex,
               avatar,
               birthday,
               telephone,
               email,
               status,
               remarks,
               entry_day,
               depart_day
        FROM sys_worker_info
    </sql>

    <!-- 集合查询 -->
    <select id="page" parameterType="com.github.itdachen.admin_v1.sdk.query.WorkerInfoQuery" resultMap="workerInfoMap">
        <include refid="selectWorkerInfoVo"/>
        <where>
            <if test="null != tenantId  and '' != tenantId ">
                AND tenant_id = #{tenantId}
            </if>
            <if test="null != workerNo  and '' != workerNo ">
                AND worker_no = #{workerNo}
            </if>
            <if test="null != workerName  and '' != workerName ">
                AND worker_name LIKE CONCAT(CONCAT('%',#{workerName}),'%')
            </if>
            <if test="null != sex  and '' != sex ">
                AND sex = #{sex}
            </if>
            <if test="null != telephone  and '' != telephone ">
                AND telephone LIKE CONCAT(CONCAT('%',#{telephone}),'%')
            </if>
            <if test="null != email  and '' != email ">
                AND email LIKE CONCAT(CONCAT('%',#{email}),'%')
            </if>
            <if test="null != status  and '' != status ">
                AND status = #{status}
            </if>
        </where>
        ORDER BY id DESC
    </select>


    <!-- 批量添加 -->
    <insert id="batchSave" parameterType="java.util.List">
        INSERT INTO sys_worker_info (id ,
        tenant_id ,
        worker_no ,
        worker_name ,
        sex ,
        avatar ,
        birthday ,
        telephone ,
        email ,
        status ,
        remarks ,
        entry_day ,
        depart_day ,
        create_time ,
        create_user_id ,
        create_user ,
        update_time ,
        update_user_id ,
        update_user
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id},
            #{item.tenantId},
            #{item.workerNo},
            #{item.workerName},
            #{item.sex},
            #{item.avatar},
            #{item.birthday},
            #{item.telephone},
            #{item.email},
            #{item.status},
            #{item.remarks},
            #{item.entryDay},
            #{item.departDay},
            #{item.createTime},
            #{item.createUserId},
            #{item.createUser},
            #{item.updateTime},
            #{item.updateUserId},
            #{item.updateUser})
        </foreach>
    </insert>

    <!-- 批量更新 -->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            UPDATE sys_worker_info
            <set>
                <if test="null != item.id  and '' != item.id ">id =
                    #{item.id},
                </if>
                <if test="null != item.tenantId  and '' != item.tenantId ">tenant_id =
                    #{item.tenantId},
                </if>
                <if test="null != item.workerNo  and '' != item.workerNo ">worker_no =
                    #{item.workerNo},
                </if>
                <if test="null != item.workerName  and '' != item.workerName ">worker_name =
                    #{item.workerName},
                </if>
                <if test="null != item.sex  and '' != item.sex ">sex =
                    #{item.sex},
                </if>
                <if test="null != item.avatar  and '' != item.avatar ">avatar =
                    #{item.avatar},
                </if>
                <if test="null != item.birthday  and '' != item.birthday ">birthday =
                    #{item.birthday},
                </if>
                <if test="null != item.telephone  and '' != item.telephone ">telephone =
                    #{item.telephone},
                </if>
                <if test="null != item.email  and '' != item.email ">email =
                    #{item.email},
                </if>
                <if test="null != item.status  and '' != item.status ">status =
                    #{item.status},
                </if>
                <if test="null != item.remarks  and '' != item.remarks ">remarks =
                    #{item.remarks},
                </if>
                <if test="null != item.entryDay  and '' != item.entryDay ">entry_day =
                    #{item.entryDay},
                </if>
                <if test="null != item.departDay  and '' != item.departDay ">depart_day =
                    #{item.departDay},
                </if>
                <if test="null != item.createTime ">create_time =
                    #{item.createTime},
                </if>
                <if test="null != item.createUserId  and '' != item.createUserId ">create_user_id =
                    #{item.createUserId},
                </if>
                <if test="null != item.createUser  and '' != item.createUser ">create_user =
                    #{item.createUser},
                </if>
                <if test="null != item.updateTime ">update_time =
                    #{item.updateTime},
                </if>
                <if test="null != item.updateUserId  and '' != item.updateUserId ">update_user_id =
                    #{item.updateUserId},
                </if>
                <if test="null != item.updateUser  and '' != item.updateUser ">update_user =
                    #{item.updateUser},
                </if>
            </set>
            WHERE id = #{item.id}
        </foreach>
    </update>


</mapper>