
.bodys {
    overflow-y: hidden;
    background-color: #f5f6fa;
}

.ztree {
    margin-right: 0;
}

.tree-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tree-box {
    width: 300px;
    display: inline-block;
    overflow-y: hidden;
    overflow-x: hidden;
    height: calc(94vh);
    background: #fff;
    margin-top: 15px;
    margin-left: 15px;
    z-index: 999 !important;
    position: relative;
    padding-top: 10px;
    padding-left: 18px;
    padding-right: 16px;
    border-radius: 5px;
}

@media screen and(-ms-high-contrast: active),(-ms-high-contrast: none) {
    .conts {
        padding-right: 10px !important;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    z-index: 100;
}

@media screen and(-ms-high-contrast: active),(-ms-high-contrast: none) {
    .animated {
        -webkit-animation-duration: 0.0s !important;
        animation-duration: 0.0s !important;
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    margin: 1.0em 0 1.0em 1.0em;
}

.tree-title {
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: 600;
    color: rgba(55, 55, 55, 0.83);
}

.tree-title-line {
    border-bottom: 1px #b2b2b2 solid;
    margin-bottom: 4px;
}

.indexs {
    position: absolute;
    height: 100%;
    width: 100%;
    display: inline-block;
    background: #f0f3f5;
}

.tree-table-content {
    background-color: #f5f6fa;
    width: 100%;
    padding: 15px 10px 5px 10px;
}

.tree-table {
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #fff
}

@media (max-width: 1920px ) {
    .indexs {
        width: calc(100% - 275px)
    }

    html {
        overflow: hidden;
    }
}

@media (max-width: 1390px ) {
    .indexs {
        width: calc(100% - 275px);
    }
}

.gray-bg {
    min-width: 940px
}

.wrapper {
    padding: 0 20px;
}

.wrapper-content {
    background: #ffffff;
    min-height: calc(100.5%);
    margin-bottom: 9px;
    border-radius: 5px;
}

@media (max-width: 1100px ) {
    .gray-bg {
        background-color: #e9ecf1;
        padding: 12px 6px;
        padding-bottom: 1px;
        transition: all 0.5s;
    }

    .wrapper-content {
        margin-bottom: 5px;
        min-height: calc(99.5%);
        transition: all 0.5s;
    }

    .wrapper {
        padding: 0 10px;
        transition: all 0.5s;
        padding-bottom: 1px;
    }

    .ibox-content {
        padding: 0px;
        transition: all 0.5s;
    }
}

.layui-layer-iframe {
    overflow: hidden !important;
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-radius: 5px;
    clear: both;
}