layui.use(['form'#foreach($column in $columns)#if('1' ==$column.isForm)#if($column.htmlType == 'datetime'), 'laydate'#elseif($column.htmlType == 'imageUpload'), 'upload'#end#end#end], function () {
    let form = layui.form;
    form.render();
    #foreach ($column in $columns)
        #if('1' ==$column.isForm)
        #if($column.htmlType == 'datetime')
            let laydate = layui.laydate;
            #elseif($column.htmlType == 'imageUpload')
            let upload = layui.upload;
        #end  #end
    #end

#foreach ($column in $columns)
    #set($field=$column.javaField)
    #if ('1' ==$column.isForm)
    #if($column.htmlType == 'datetime')

        laydate.render({
            elem: '#${field}'
        });
    #elseif($column.htmlType == 'imageUpload')

        $.oss.imageUpload(upload, {
            id: '${field}UploadImage',
            tipsBox: '${field}UploadTips',
            imageSrc: '${field}ImgSrc',
            fieldName: '${field}',
        })
    #elseif($column.htmlType == 'fileUpload')

        $.oss.fileUpload(upload, {
            id: '${field}Upload',
            fileUri: '${field}',     // 存放文件路径字段id
            fileName: '${field}Name' // 存放文件名称id
        })
    #end
#end
#end


    /* 提交 */
    form.on('submit(save${ClassName})', function (data) {
        $.form.submit({
            url: '${menuUrl}',
            data: data.field,
        })
    });

});
