<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/common::common('修改岗位信息')"/>
    <script th:src="@{/static/admin/clazz/edit.js}" charset="utf-8"></script>
</head>
<body>

<form class="layui-form" id="editClazzInfoForm" th:object="${clazzInfo}">
    <div class="layui-form-body">
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="required">*</span>岗位等级
            </label>
            <div class="layui-input-block" th:with="dicts=${@dict.data('dept_level')}">
                <input type="radio" name="thatLevel" lay-filter="thatLevelRadio" th:each="dict : ${dicts}"
                       th:id="${'thatLevel_' + dict.value}"
                       th:field="*{thatLevel}"
                       th:title="${dict.label}"
                       th:value="${dict.value}"
                       th:checked="${clazzInfo.thatLevel}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="required">*</span>岗位名称
            </label>
            <div class="layui-input-block">
                <input type="text" id="title" name="title" th:field="*{title}"
                       autocomplete="off" lay-verify="required" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="required">*</span>有效标志
            </label>
            <div class="layui-input-block" th:with="dicts=${@dict.data('VALID_FLAG')}">
                <input type="radio" name="validFlag" th:each="dict : ${dicts}"
                       th:id="${'validFlag_' + dict.value}"
                       th:field="*{validFlag}"
                       th:title="${dict.label}"
                       th:value="${dict.value}"
                       th:checked="${clazzInfo.validFlag}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                备注
            </label>
            <div class="layui-input-block">
                        <textarea id="remarks" name="remarks" th:field="*{remarks}" maxlength="200"
                                  autocomplete="off" class="layui-textarea"></textarea>
            </div>
        </div>
    </div>


    <div class="form-footer-center">
        <button type="button" class="fly-button-ok" lay-submit lay-filter="editClazzInfo">
            <i class="layui-icon layui-icon-ok fly-button-icon"></i>保存
        </button>
        <button type="button" class="fly-button-close close-flyer">
            <i class="layui-icon layui-icon-close fly-button-icon"></i>关闭
        </button>
    </div>

    <input type="text" th:value="*{thatLevelTitle}" id="thatLevelTitle" name="thatLevelTitle" style="display: none">
    <input type="text" th:value="*{id}" id="id" name="id" style="display: none">
</form>

</body>
</html>