<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="common/common::common('菜单权限')"/>
  <th:block th:include="common/common::zTree"/>
  <script th:src="@{/static/admin/clazz/power.js}" charset="utf-8"></script>
</head>
<input type="text" style="display: none;" th:value="*{clazzId}" id="clazzId">
<input type="text" style="display: none;" th:value="*{appId}" id="appId">
<body class="scroll-bar" style="height: 400px;overflow-y:auto;overflow-x:hidden ">
<div style="margin: 10px 20px;">
  <form class="layui-form layui-form-pane">
    <div class="layui-form layui-form-pane" style="height: 100%; margin-bottom: 60px;">
      <div class="layui-form-item layui-form-text">
        <ul id="tree" class="ztree"></ul>
      </div>
    </div>
    <div class="form-footer">
      <button type="button" class="fly-button-ok" lay-submit lay-filter="saveClazzMenuInfo">
        <i class="layui-icon layui-icon-ok fly-button-icon"></i>保存
      </button>
      <button type="button" class="fly-button-close close-flyer">
        <i class="layui-icon layui-icon-close fly-button-icon"></i>关闭
      </button>
    </div>
  </form>
</div>
</body>
</html>