<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.itdachen.dashboard.mapper.ILoginRecordMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.itdachen.dashboard.sdk.vo.LoginRecordVO" id="loginRecordMap">
            <result property="id" column="id"/>
            <result property="sessionId" column="session_id"/>
            <result property="clientId" column="client_id"/>
            <result property="nickname" column="nickname"/>
            <result property="username" column="username"/>
            <result property="ip" column="ip"/>
            <result property="accessAddress" column="access_address"/>
            <result property="browser" column="browser"/>
            <result property="os" column="os"/>
            <result property="status" column="status"/>
            <result property="msg" column="msg"/>
    </resultMap>

    <sql id="selectLoginRecordVo">
        SELECT id, 
session_id, 
client_id, 
nickname, 
username, 
ip, 
access_address, 
browser, 
os, 
status, 
msg
        FROM sys_login_record
    </sql>

    <!-- 集合查询 -->
    <select id="page" parameterType="com.github.itdachen.dashboard.sdk.query.LoginRecordQuery" resultMap="loginRecordMap">
        <include refid="selectLoginRecordVo"/>
        <where>
            <if test="null != sessionId  and '' != sessionId ">
                AND session_id = #{sessionId}
            </if>
            <if test="null != clientId  and '' != clientId ">
                AND client_id = #{clientId}
            </if>
            <if test="null != nickname  and '' != nickname ">
                AND nickname LIKE CONCAT(CONCAT('%',#{nickname}),'%')
            </if>
            <if test="null != username  and '' != username ">
                AND username LIKE CONCAT(CONCAT('%',#{username}),'%')
            </if>
            <if test="null != ip  and '' != ip ">
                AND ip = #{ip}
            </if>
            <if test="null != accessAddress  and '' != accessAddress ">
                AND access_address = #{accessAddress}
            </if>
            <if test="null != browser  and '' != browser ">
                AND browser = #{browser}
            </if>
            <if test="null != os  and '' != os ">
                AND os = #{os}
            </if>
            <if test="null != status  and '' != status ">
                AND status = #{status}
            </if>
            <if test="null != msg  and '' != msg ">
                AND msg = #{msg}
            </if>
        </where>
        ORDER BY id DESC
    </select>


    <!-- 批量添加 -->
    <insert id="batchSave" parameterType="java.util.List">
        INSERT INTO sys_login_record (id , 
session_id , 
client_id , 
nickname , 
username , 
ip , 
access_address , 
browser , 
os , 
status , 
msg , 
create_time 
) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id},
#{item.sessionId},
#{item.clientId},
#{item.nickname},
#{item.username},
#{item.ip},
#{item.accessAddress},
#{item.browser},
#{item.os},
#{item.status},
#{item.msg},
#{item.createTime})
        </foreach>
    </insert>

    <!-- 批量更新 -->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            UPDATE  sys_login_record
            <set>
                        <if test="null != item.id  and '' != item.id ">id =
                            #{item.id},
                        </if>
                        <if test="null != item.sessionId  and '' != item.sessionId ">session_id =
                            #{item.sessionId},
                        </if>
                        <if test="null != item.clientId  and '' != item.clientId ">client_id =
                            #{item.clientId},
                        </if>
                        <if test="null != item.nickname  and '' != item.nickname ">nickname =
                            #{item.nickname},
                        </if>
                        <if test="null != item.username  and '' != item.username ">username =
                            #{item.username},
                        </if>
                        <if test="null != item.ip  and '' != item.ip ">ip =
                            #{item.ip},
                        </if>
                        <if test="null != item.accessAddress  and '' != item.accessAddress ">access_address =
                            #{item.accessAddress},
                        </if>
                        <if test="null != item.browser  and '' != item.browser ">browser =
                            #{item.browser},
                        </if>
                        <if test="null != item.os  and '' != item.os ">os =
                            #{item.os},
                        </if>
                        <if test="null != item.status  and '' != item.status ">status =
                            #{item.status},
                        </if>
                        <if test="null != item.msg  and '' != item.msg ">msg =
                            #{item.msg},
                        </if>
                        <if test="null != item.createTime ">create_time =
                            #{item.createTime},
                        </if>
            </set>
            WHERE id = #{item.id}
        </foreach>
    </update>


</mapper>