<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.itdachen.admin.mapper.IPearAdminMenuWebMapper">

    <select id="findMenuAll" parameterType="java.lang.String"
            resultType="com.github.itdachen.security.user.PearAdminMenu">
        SELECT id,
               title,
               CONCAT('layui-icon ', icon)              AS icon,
               path                                     AS href,
               IF(type = 'menu', 1, 0)                  AS type,
               IF(iframe = 'iframe', '_iframe', iframe) AS openType
        FROM sys_menu_info
        WHERE parent_id = #{parentId}
        ORDER BY order_num ASC
    </select>

    <select id="findChildrenMenu" parameterType="java.lang.String"
            resultType="com.github.itdachen.security.user.PearAdminMenu">
        SELECT DISTINCT a.id, a.title, a.path AS href,
        CONCAT('layui-icon ', a.icon) AS icon,
        IF(a.type ='menu',1,0) AS type,
        IF(a.iframe = 'iframe', '_iframe', a.iframe) AS openType
        FROM sys_menu_info a
        LEFT JOIN sys_role_menu b ON a.id = b.menu_id
        LEFT JOIN sys_role_user c ON c.role_id = b.role_id
        <where>
            a.parent_id=#{parentId} AND a.visible = '1'
            <if test="null != userId and '' !=  userId ">
                AND c.user_id = #{userId}
            </if>
        </where>
        ORDER BY a.order_num ASC
    </select>


</mapper>