<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/common::common('新增应用信息')"/>
    <script th:src="@{/static/admin/app/add.js}" charset="utf-8"></script>
</head>
<body>

<form class="layui-form" id="addAppInfoForm">
    <div class="layui-form-body">
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="required">*</span>所属平台
            </label>
            <div class="layui-input-block" id="platIdBox">
                <select id="platId" name="platId" lay-verify="required">
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="required">*</span>应用标识
            </label>
            <div class="layui-input-block">
                <input type="text" id="appCode" name="appCode"
                       autocomplete="off" lay-verify="required" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="required">*</span>应用名称
            </label>
            <div class="layui-input-block">
                <input type="text" id="appTitle" name="appTitle"
                       autocomplete="off" lay-verify="required" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="required">*</span>访问地址
            </label>
            <div class="layui-input-block">
                <input type="text" id="askUri" name="askUri"
                       autocomplete="off" lay-verify="required" class="layui-input">
            </div>
        </div>

        <!--        <div class="layui-form-item">-->
        <!--            <label class="layui-form-label">-->
        <!--                <span class="required">*</span>图标-->
        <!--            </label>-->
        <!--            <div class="layui-input-block">-->
        <!--                <div id="iconIcoUploadImage" class="upload-block">-->
        <!--                    <div class="layui-upload-drag" id="iconIcoUploadTips">-->
        <!--                        <i class="layui-icon layui-icon-picture" style="color: #999"></i>-->
        <!--                        <p>点击上传图标</p>-->
        <!--                    </div>-->
        <!--                    <img src="" id="iconIcoImgSrc" class="upload-block" style="display: none">-->
        <!--                </div>-->
        <!--                <input type="text" id="iconIco" name="iconIco" style="display: none" class="layui-input">-->
        <!--            </div>-->
        <!--        </div>-->

        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="required">*</span>有效标志
            </label>
            <div class="layui-input-block">
                <input type="radio" name="validFlag" value="Y" title="有效" checked>
                <input type="radio" name="validFlag" value="N" title="无效">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                备注
            </label>
            <div class="layui-input-block">
                        <textarea id="remarks" name="remarks" maxlength="200"
                                  autocomplete="off" class="layui-textarea"></textarea>
            </div>
        </div>

    </div>


    <div class="form-footer-center">
        <button type="button" class="fly-button-ok" lay-submit lay-filter="saveAppInfo">
            <i class="layui-icon layui-icon-ok fly-button-icon"></i>保存
        </button>
        <button type="button" class="fly-button-close close-flyer">
            <i class="layui-icon layui-icon-close fly-button-icon"></i>关闭
        </button>
    </div>

</form>
</body>
</html>