<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/common::common('修改应用管理')"/>
    <script th:src="@{/static/admin/app/edit.js}" charset="utf-8"></script>
</head>
<body class="bg-color">
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12" style="background-color: #FFF; margin-top: 15px">
            <div class="layui-card">
                <div class="layui-card-header">编辑应用信息</div>
                <div class="layui-card-body" pad15>

                    <form class="layui-form" id="editAppClientForm" th:object="${appClient}">
                        <div class="layui-form-body">

                            <div class="layui-form-item">
                                <label class="layui-form-label">
                                    <span class="required">*</span>应用类型
                                </label>
                                <div class="layui-input-block">
                                    <select id="appType" name="appType"
                                            th:with="dicts=${@dict.data('system_type')}">
                                        <option value="">请选择应用类型</option>
                                        <option th:each="dict : ${dicts}"
                                                th:id="${'appType_' + dict.value}"
                                                th:field="*{appType}"
                                                th:text="${dict.label}"
                                                th:value="${dict.value}"
                                                th:checked="appType">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">
                                    <span class="required">*</span>应用标识码
                                </label>
                                <div class="layui-input-block">
                                    <input type="text" id="appCode" name="appCode" th:field="*{appCode}"
                                           autocomplete="off" lay-verify="required" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">
                                    <span class="required">*</span>应用名称
                                </label>
                                <div class="layui-input-block">
                                    <input type="text" id="appTitle" name="appTitle" th:field="*{appTitle}"
                                           autocomplete="off" lay-verify="required" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">
                                    <span class="required">*</span>访问地址
                                </label>
                                <div class="layui-input-block">
                                    <input type="text" id="askUri" name="askUri" th:field="*{askUri}"
                                           autocomplete="off" lay-verify="required" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">
                                    <span class="required">*</span>图标
                                </label>
                                <div class="layui-input-block">
                                    <div id="uploadImage" class="upload-block">
                                        <div class="layui-upload-drag" id="imgIcon">
                                            <i class="layui-icon layui-icon-picture" style="color: #999"></i>
                                            <p>点击上传图标</p>
                                        </div>
                                        <img src="" id="imageSrc" class="upload-block" style="display: none">
                                    </div>
                                    <input type="text" th:field="*{icon}" id="icon" name="icon"
                                           style="display: none" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">
                                    <span class="required">*</span>是否启用
                                </label>
                                <div class="layui-input-block" th:with="dicts=${@dict.data('can_usable')}">
                                    <input type="radio" name="status" th:each="dict : ${dicts}"
                                           th:id="${'status_' + dict.value}"
                                           th:field="*{status}"
                                           th:title="${dict.label}"
                                           th:value="${dict.value}"
                                           th:checked="${appClient.status}">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">
                                    备注
                                </label>
                                <div class="layui-input-block">
                                     <textarea id="remarks" name="remarks" th:field="*{remarks}" maxlength="200"
                                               autocomplete="off" class="layui-textarea"></textarea>
                                </div>
                            </div>
                        </div>


                        <div class="form-footer-center" style="text-align:center;margin-top: 20px;">
                            <button type="button" class="button-sub"
                                    lay-submit lay-filter="editAppClient">提交
                            </button>
                            <button type="button" class="button-close" onclick="goBackPreviousPage()">返回</button>
                        </div>

                        <input type="text" th:value="*{id}" id="id" name="id" style="display: none">
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>