<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <th:block th:include="common/common::component('应用信息')"/>
    <script th:src="@{/static/admin/app/index.js}" charset="utf-8"></script>
</head>
<body class="fly-container">
<div class="fly-main-container">

    <!-- 查询 -->
    <div class="fly-query-container" sec:authorize="hasAuthority('admin:app:info:query')">
        <form class="layui-form" id="queryAppInfoForm" name="queryAppInfoForm">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">应用名称</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input keypress-listen" placeholder="应用名称"
                               id="appTitle" name="appTitle" autocomplete="off">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">有效标志</label>
                    <div class="layui-input-inline">
                        <select name="validFlag" id="validFlag">
                            <option value="">请选择</option>
                            <option value="Y">有效</option>
                            <option value="N">无效</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <button type="submit" class="layui-btn layui-btn-sm fly-button-search"
                            lay-submit lay-filter="queryAppInfo">
                        <i class="layui-icon layui-icon-search search-icon"></i>查询
                    </button>
                    <button type="reset" class="layui-btn layui-btn-sm fly-button-reset">
                        <i class="layui-icon layui-icon-refresh search-icon"></i>重置
                    </button>
                    <button type="submit" class="layui-btn layui-btn-sm fly-button-exp"
                            lay-submit lay-filter="expAppInfo">
                        <i class="layui-icon layui-icon-export search-icon"></i>导出
                    </button>
                </div>

            </div>

            <!--            <div class="fly-query-footer">-->
            <!--                <button type="submit" class="layui-btn layui-btn-sm fly-button-search"-->
            <!--                        lay-submit lay-filter="query${ClassName}">-->
            <!--                    <i class="layui-icon layui-icon-search fly-icon-right-5"></i>查询-->
            <!--                </button>-->
            <!--                <button type="reset" class="layui-btn layui-btn-sm fly-button-reset">-->
            <!--                    <i class="layui-icon layui-icon-refresh fly-icon-right-5"></i>重置-->
            <!--                </button>-->
            <!--                <button sec:authorize="hasAuthority('${permsPrefix}:exp')"-->
            <!--                        type="submit" class="layui-btn layui-btn-sm fly-button-exp"-->
            <!--                        lay-submit lay-filter="exp${ClassName}">-->
            <!--                    <i class="layui-icon  layui-icon-export fly-icon-right-5"></i>导出-->
            <!--                </button>-->
            <!--            </div>-->

        </form>

    </div>

    <!-- 页面数据展示 -->
    <div class="fly-table-container">
        <table class="layui-hide" id="appLayTable" lay-filter="appLayFilter"></table>
    </div>

</div>


<!-- 表头工具栏 -->
<script type="text/html" id="appToolbar">
    <div class="fly-tool-bar">
        <button sec:authorize="hasAuthority('admin:app:info:save')"
                class="layui-btn layui-btn-sm layui-btn-normal fly-button-add"
                lay-event="saveAppInfo">
            <i class="layui-icon layui-icon-addition"></i>新增
        </button>
    </div>
</script>


<!-- 操作工具栏 -->
<script type="text/html" id="appToolActionBar">
    <button sec:authorize="hasAuthority('admin:app:info:view')"
            class="fly-action-bar fly-button-view" lay-event="viewApp">
        <i class="layui-icon layui-icon-list"></i>查看
    </button>
    <button sec:authorize="hasAuthority('admin:app:info:update')"
            class="fly-action-bar fly-button-edit" lay-event="updateApp">
        <i class="layui-icon layui-icon-edit"></i>编辑
    </button>
    <button sec:authorize="hasAuthority('admin:app:info:delete')"
            class="fly-action-bar fly-button-remove" lay-event="deleteApp">
        <i class="layui-icon layui-icon-delete"></i>删除
    </button>
</script>


<script type="text/html" id="validAppFlagTpl">
    <input type="checkbox" name="validFlag" value="{{= d.id }}" title="有效|无效" lay-skin="switch"
           lay-filter="validAppFlagFilter" {{ d.validFlag== 'Y' ? 'checked' : '' }}>
</script>

</body>
</html>