<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/common::common('查看应用信息')"/>
    <script>
        layui.use(['form'], function () {
            let form = layui.form;
            form.render();
        });
    </script>
</head>
<body>

<form class="layui-form" id="seeAppInfoForm" th:object="${appInfo}">
    <div class="layui-form-body-see">
        <div class="layui-form-item">
            <label class="layui-form-label">
                平台名称
            </label>
            <div class="layui-input-block">
                <input type="text" id="platTitle" name="platTitle" th:field="*{platTitle}" readonly="readonly"
                       autocomplete="off"
                       lay-verify="required" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                app秘钥
            </label>
            <div class="layui-input-block">
                <input type="text" id="appSecret" name="appSecret" th:field="*{appSecret}" readonly="readonly"
                       autocomplete="off"
                       lay-verify="required" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                应用标识
            </label>
            <div class="layui-input-block">
                <input type="text" id="appCode" name="appCode" th:field="*{appCode}" readonly="readonly"
                       autocomplete="off"
                       lay-verify="required" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                应用名称
            </label>
            <div class="layui-input-block">
                <input type="text" id="appTitle" name="appTitle" th:field="*{appTitle}" readonly="readonly"
                       autocomplete="off"
                       lay-verify="required" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                访问地址
            </label>
            <div class="layui-input-block">
                <input type="text" id="askUri" name="askUri" th:field="*{askUri}" readonly="readonly"
                       autocomplete="off"
                       lay-verify="required" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                有效标志
            </label>
            <div class="layui-input-block">
                <input type="radio" name="validFlag" value="Y" title="有效" disabled="disabled"
                       th:attr="checked=${'Y' == appInfo.validFlag}">
                <input type="radio" name="validFlag" value="N" title="无效" disabled="disabled"
                       th:attr="checked=${'N' == appInfo.validFlag}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                备注
            </label>
            <div class="layui-input-block">
     <textarea id="remarks" name="remarks" th:field="*{remarks}" maxlength="200" readonly="readonly"
               autocomplete="off" class="layui-textarea"></textarea>
            </div>
        </div>
    </div>
</form>

</body>
</html>