<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/common::common('修改日志表')"/>
    <script th:src="@{/static/admin/make/use/log/edit.js}" charset="utf-8"></script>
</head>
<body>

<form class="layui-form" id="editMakeUseLogForm" th:object="${makeUseLog}">
    <div class="layui-form-body">

                    <div class="layui-form-item">
                        <label class="layui-form-label">
<span class="required">*</span>服务ID
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="serviceId" name="serviceId" th:field="*{serviceId}"
                                   autocomplete="off" lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
<span class="required">*</span>客户端id: PC端, 微程序, APP等 
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="clientId" name="clientId" th:field="*{clientId}"
                                   autocomplete="off" lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
<span class="required">*</span>http 请求id
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="requestId" name="requestId" th:field="*{requestId}"
                                   autocomplete="off" lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
<span class="required">*</span>日志标题: 用户管理, 菜单管理等
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="menuTitle" name="menuTitle" th:field="*{menuTitle}"
                                   autocomplete="off" lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
<span class="required">*</span>操作类型: 新增, 修改, 删除, 查看
                        </label>
                        <div class="layui-input-block">
                            <select id="makeUseType" name="makeUseType" th:with="dicts=${@dict.data('log_business_type')}">
                                <option value="">请选择操作类型: 新增, 修改, 删除, 查看</option>
                                <option th:each="dict : ${dicts}"
                                        th:id="${'makeUseType_' + dict.value}"
                                        th:field="*{makeUseType}"
                                        th:text="${dict.label}"
                                        th:value="${dict.value}"
                                        th:checked="makeUseType">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
<span class="required">*</span>日志类型: button-按钮, uri-链接
                        </label>
                        <div class="layui-input-block">
                            <select id="logType" name="logType" th:with="dicts=${@dict.data('log_business_type')}">
                                <option value="">请选择日志类型: button-按钮, uri-链接</option>
                                <option th:each="dict : ${dicts}"
                                        th:id="${'logType_' + dict.value}"
                                        th:field="*{logType}"
                                        th:text="${dict.label}"
                                        th:value="${dict.value}"
                                        th:checked="logType">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
<span class="required">*</span>操作IP地址
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="makeUseIp" name="makeUseIp" th:field="*{makeUseIp}"
                                   autocomplete="off" lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
<span class="required">*</span>操作地址
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="makeUseAddress" name="makeUseAddress" th:field="*{makeUseAddress}"
                                   autocomplete="off" lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
<span class="required">*</span>操作状态: 成功, 失败, 异常
                        </label>
                        <div class="layui-input-block" th:with="dicts=${@dict.data('log_business_type')}">
                            <input type="radio" name="makeUseStatus" th:each="dict : ${dicts}"
                                   th:id="${'makeUseStatus_' + dict.value}"
                                   th:field="*{makeUseStatus}"
                                   th:title="${dict.label}"
                                   th:value="${dict.value}"
                                   th:checked="${makeUseLog.makeUseStatus}">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
<span class="required">*</span>用户代理
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="userAgent" name="userAgent" th:field="*{userAgent}"
                                   autocomplete="off" lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
<span class="required">*</span>请求URI
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="requestUri" name="requestUri" th:field="*{requestUri}"
                                   autocomplete="off" lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
<span class="required">*</span>操作方式
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="requestMethod" name="requestMethod" th:field="*{requestMethod}"
                                   autocomplete="off" lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
<span class="required">*</span>操作提交的数据
                        </label>
                        <div class="layui-input-block">
                        <textarea id="params" name="params" th:field="*{params}" maxlength="200"
lay-verify="required" autocomplete="off" class="layui-textarea"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
<span class="required">*</span>返回数据
                        </label>
                        <div class="layui-input-block">
                        <textarea id="jsonResult" name="jsonResult" th:field="*{jsonResult}" maxlength="200"
lay-verify="required" autocomplete="off" class="layui-textarea"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
<span class="required">*</span>异常信息
                        </label>
                        <div class="layui-input-block">
                        <textarea id="exception" name="exception" th:field="*{exception}" maxlength="200"
lay-verify="required" autocomplete="off" class="layui-textarea"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
备注
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="remarks" name="remarks" th:field="*{remarks}"
                                   autocomplete="off"  class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
<span class="required">*</span>服务端处理耗时
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="executeTime" name="executeTime" th:field="*{executeTime}"
                                   autocomplete="off" lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
<span class="required">*</span>返回消息
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="msg" name="msg" th:field="*{msg}"
                                   autocomplete="off" lay-verify="required" class="layui-input">
                        </div>
                    </div>
    </div>

    <div class="form-footer">
        <button type="button" class="button-sub" lay-submit lay-filter="editMakeUseLog">保存</button>
        <button type="button" class="button-close" id="buttonClose">关闭</button>
    </div>
    <input type="text" th:value="*{id}" id="id" name="id" style="display: none">
</form>

</body>
</html>