<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <th:block th:include="common/common::component('消息池')"/>
    <script th:src="@{/static/my/msg/index.js}" charset="utf-8"></script>
</head>
<body class="fly-container">
<div class="fly-main-container">


    <!-- 查询 -->
    <div class="fly-query-container" sec:authorize="hasAuthority('fly:msg:pool:query')">
        <form class="layui-form" id="queryMsgPoolForm" name="queryMsgPoolForm">
            <div class="layui-form-item">

                <div class="layui-inline">
                    <label class="layui-form-label">消息标题</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input keypress-listen" placeholder="消息标题"
                               id="msgTitle" name="msgTitle" autocomplete="off">
                    </div>
                </div>

                <div class="layui-inline">
                    <button type="submit" class="layui-btn layui-btn-sm fly-button-search"
                            lay-submit lay-filter="queryMsgPool">
                        <i class="layui-icon layui-icon-search fly-icon-right-5"></i>查询
                    </button>
                    <button type="reset" class="layui-btn layui-btn-sm fly-button-reset">
                        <i class="layui-icon layui-icon-refresh fly-icon-right-5"></i>重置
                    </button>
                    <button sec:authorize="hasAuthority('fly:msg:pool:exp')"
                            type="submit" class="layui-btn layui-btn-sm fly-button-exp"
                            lay-submit lay-filter="expMsgPool">
                        <i class="layui-icon layui-icon-export fly-icon-right-5"></i>导出
                    </button>
                </div>
            </div>

            <!--            <div class="fly-query-footer">-->
            <!--                <button type="submit" class="layui-btn layui-btn-sm fly-button-search"-->
            <!--                        lay-submit lay-filter="queryMsgPool">-->
            <!--                    <i class="layui-icon layui-icon-search fly-icon-right-5"></i>查询-->
            <!--                </button>-->
            <!--                <button type="reset" class="layui-btn layui-btn-sm fly-button-reset">-->
            <!--                    <i class="layui-icon layui-icon-refresh fly-icon-right-5"></i>重置-->
            <!--                </button>-->
            <!--                <button sec:authorize="hasAuthority('fly:msg:pool:exp')"-->
            <!--                        type="submit" class="layui-btn layui-btn-sm fly-button-exp"-->
            <!--                        lay-submit lay-filter="expMsgPool">-->
            <!--                    <i class="layui-icon  layui-icon-export fly-icon-right-5"></i>导出-->
            <!--                </button>-->
            <!--            </div>-->

        </form>
    </div>

    <!-- 页面数据展示 -->
    <div class="fly-table-container">
        <table class="layui-hide" id="msgPoolMyLayTable" lay-filter="msgPoolMyLayFilter"></table>
    </div>

</div>



<!-- 操作工具栏 -->
<script type="text/html" id="msgPoolActionBar">
    <button sec:authorize="hasAuthority('fly:msg:pool:view')"
            class="fly-action-bar fly-button-view" lay-event="viewMsgPool">
        <i class="layui-icon layui-icon-list"></i>查看
    </button>
</script>

</body>
</html>