<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <th:block th:include="common/common::component('部门岗位关联表')"/>
    <th:block th:include="common/common::zTree"/>
    <script th:src="@{/static/admin/dept/clazz/index.js}" charset="utf-8"></script>
</head>
<body class="fly-container">
<div class="fly-main-container">

    <div class="tree-container">
        <div class="tree-box">
            <div class="tree-title">部门树</div>
            <div class="tree-title-line"></div>
            <div id="clazzDeptTree" class="ztree"></div>
        </div>
        <!--右侧内容-->
        <div class=" tree-table-content">
            <div class="tree-table">

                <!-- 查询 -->
                <div class="fly-query-container" sec:authorize="hasAuthority('fly:admin:clazz:dept:admin:query')">
                    <form class="layui-form" id="queryClazzDept" name="queryClazzDept">


                        <div class="layui-form-item">


                            <div class="layui-inline">
                                <label class="layui-form-label">岗位名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input keypress-listen" placeholder="岗位名称"
                                           id="clazzTitle" name="clazzTitle" autocomplete="off">
                                </div>
                            </div>


                            <div class="layui-inline">
                                <label class="layui-form-label">有效标志</label>
                                <div class="layui-input-inline">
                                    <select id="validFlag" name="validFlag" th:with="dicts=${@dict.data('VALID_FLAG')}">
                                        <option value="">有效标志</option>
                                        <option th:each="dict : ${dicts}"
                                                th:text="${dict.label}"
                                                th:value="${dict.value}">
                                        </option>
                                    </select>
                                </div>
                            </div>


                            <div class="layui-inline">
                                <button type="submit" class="layui-btn layui-btn-sm fly-button-search"
                                        lay-submit lay-filter="queryClazzDept">
                                    <i class="layui-icon layui-icon-search fly-icon-right-5"></i>查询
                                </button>
                                <button type="reset" class="layui-btn layui-btn-sm fly-button-reset">
                                    <i class="layui-icon layui-icon-refresh fly-icon-right-5"></i>重置
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- 页面数据展示 -->
                <div class="fly-table-container">
                    <table class="layui-hide" id="deptClazzLayTable" lay-filter="deptClazzLayFilter"></table>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- 表头工具栏 -->
<script type="text/html" id="deptClazzToolbar">
    <div class="fly-tool-bar">
        <button sec:authorize="hasAuthority('fly:admin:clazz:dept:admin:save')"
                class="layui-btn layui-btn-sm layui-btn-normal fly-button-add"
                lay-event="saveClazzDept">
            <i class="layui-icon layui-icon-addition"></i>新增
        </button>
    </div>
</script>

<!-- 操作工具栏 -->
<script type="text/html" id="toolActionBar">
    <button sec:authorize="hasAuthority('fly:admin:clazz:dept:admin:view')"
            class="fly-action-bar fly-button-view" lay-event="view">
        <i class="layui-icon layui-icon-list"></i>查看
    </button>
    <button sec:authorize="hasAuthority('fly:admin:clazz:dept:admin:update')"
            class="fly-action-bar fly-button-edit" lay-event="update">
        <i class="layui-icon layui-icon-edit"></i>编辑
    </button>
    <button sec:authorize="hasAuthority('fly:admin:clazz:dept:admin:delete')"
            class="fly-action-bar fly-button-remove" lay-event="delete">
        <i class="layui-icon layui-icon-delete"></i>删除
    </button>
</script>


<script type="text/html" id="validFlagClazzDeptTpl">
    <input type="checkbox" name="validFlag" value="{{= d.id }}" title="有效|无效" lay-skin="switch"
           lay-filter="validFlagClazzDeptFilter" {{ d.validFlag == 'Y' ? 'checked' : '' }}>
</script>


</body>
</html>