<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/common::common('新增角色')"/>
    <script th:src="@{/static/admin/role/add.js}" charset="utf-8"></script>
</head>
<body>

<form class="layui-form" id="addRoleInfoForm">
    <div class="layui-form-body">
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="required">*</span>角色编码
            </label>
            <div class="layui-input-block">
                <input type="text" id="roleCode" name="roleCode"
                       placeholder="例如: ROLE_USER" value="ROLE_USER" maxlength="30"
                       autocomplete="off" lay-verify="required" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="required">*</span>角色名称
            </label>
            <div class="layui-input-block">
                <input type="text" id="title" name="title" maxlength="50"
                       autocomplete="off" lay-verify="required" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                描述
            </label>
            <div class="layui-input-block">
                <textarea id="remarks" name="remarks" maxlength="100"
                          autocomplete="off" class="layui-textarea"></textarea>
            </div>
        </div>

    </div>
    <div class="form-footer">
        <button type="button" class="button-sub" lay-submit lay-filter="saveRoleInfo">保存</button>
        <button type="button" class="button-close" id="buttonClose">关闭</button>
    </div>
</form>
</body>
</html>