<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/common::common('查看租户/公司信息')"/>
    <script>
        layui.use(['form'], function () {
            let form = layui.form;
            form.render();
        });
    </script>
</head>
<body>

<form class="layui-form" id="seeTenantInfoForm" th:object="${tenantInfo}">
    <div class="layui-form-body-see">

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            上级ID
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="parentId" name="parentId" th:field="*{parentId}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            名称
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="title" name="title" th:field="*{title}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            简称
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="titleAs" name="titleAs" th:field="*{titleAs}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            图标
                        </label>
                        <div class="layui-input-block">
                            <div id="homeIconUploadImage">
                                <img th:src="*{homeIcon}" id="homeIconImgSrc" class="upload-block">
                            </div>
                            <input type="text" id="homeIcon" name="homeIcon" readonly="readonly"
                                   th:field="*{homeIcon}" style="display: none" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            官网/访问地址
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="homeUri" name="homeUri" th:field="*{homeUri}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            联系电话
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="telephone" name="telephone" th:field="*{telephone}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            电子邮箱
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="eMailBox" name="eMailBox" th:field="*{eMailBox}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            传真
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="facsimile" name="facsimile" th:field="*{facsimile}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            有效标志
                        </label>
                        <div class="layui-input-block" th:with="dicts=${@dict.data('VALID_FLAG')}">
                            <input type="radio" name="validFlag" th:each="dict : ${dicts}"
                                   th:id="${'validFlag_' + dict.value}" disabled="disabled"
                                   th:field="*{validFlag}"
                                   th:title="${dict.label}"
                                   th:value="${dict.value}"
                                   th:checked="${tenantInfo.validFlag}">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            备注
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="remarks" name="remarks" th:field="*{remarks}" readonly="readonly"
                                   autocomplete="off"
 class="layui-input">
                        </div>
                    </div>
    </div>
</form>

</body>
</html>