<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/common::common('查看数据字典类型')"/>
    <script>
        layui.use(['form'], function () {
            let form = layui.form;
            form.render();
        });
    </script>
</head>
<body>

<form class="layui-form" id="seeDictTypeForm" th:object="${dictType}">
    <div class="layui-form-body-see">

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            字典标签
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="dictLabel" name="dictLabel" th:field="*{dictLabel}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            字典类型
                        </label>
                        <div class="layui-input-block">
                            <select id="dictType" name="dictType" disabled="disabled"
                                    th:with="dicts=${@dict.data('yes_or_no')}">
                                <option value="">请选择字典类型</option>
                                <option th:each="dict : ${dicts}"
                                        th:id="${'dictType_' + dict.value}"
                                        th:field="*{dictType}"
                                        th:text="${dict.label}"
                                        th:value="${dict.value}"
                                        th:checked="dictType">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            字典排序
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="dictSort" name="dictSort" th:field="*{dictSort}" readonly="readonly"
                                   autocomplete="off"
lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            是否默认
                        </label>
                        <div class="layui-input-block" th:with="dicts=${@dict.data('yes_or_no')}">
                            <input type="radio" name="isDefault" th:each="dict : ${dicts}"
                                   th:id="${'isDefault_' + dict.value}" disabled="disabled"
                                   th:field="*{isDefault}"
                                   th:title="${dict.label}"
                                   th:value="${dict.value}"
                                   th:checked="${dictType.isDefault}">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            有效标志
                        </label>
                        <div class="layui-input-block" th:with="dicts=${@dict.data('yes_or_no')}">
                            <input type="radio" name="validFlag" th:each="dict : ${dicts}"
                                   th:id="${'validFlag_' + dict.value}" disabled="disabled"
                                   th:field="*{validFlag}"
                                   th:title="${dict.label}"
                                   th:value="${dict.value}"
                                   th:checked="${dictType.validFlag}">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            备注
                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="remarks" name="remarks" th:field="*{remarks}" readonly="readonly"
                                   autocomplete="off"
 class="layui-input">
                        </div>
                    </div>
    </div>
</form>

</body>
</html>