<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <th:block th:include="common/common::common('部门管理')"/>
    <th:block th:include="common/common::zTree"/>
    <script th:src="@{/static/admin/dept/index.js}" charset="utf-8"></script>
</head>
<body class="bg-color">
<div class="tree-container">
    <div class="tree-box">
        <div class="tree-title">部门树</div>
        <div class="tree-title-line"></div>
        <div id="tree" class="ztree"></div>
    </div>
    <!--右侧内容-->
    <div class=" tree-table-content ">
        <div class="tree-table">
            <!-- 表格 -->
            <div class="layui_table">
                <table class="layui-hide" id="layTable" lay-filter="layFilter"></table>
            </div>
        </div>
    </div>
</div>

<!-- 表头工具栏 -->
<script type="text/html" id="toolbar">
    <div class="tool-head-bar">
        <div class="head-search" sec:authorize="hasAuthority('admin:dept:query')">
            <input class="layui-input float_left" placeholder="部门名称"
                   id="title" name="title" autocomplete="off">
            <button class="layui-btn layui-btn-sm layui-btn-normal search-btn float_left"
                    lay-event="search">
                <i class="layui-icon layui-icon-search"></i>搜索
            </button>
        </div>
        <button sec:authorize="hasAuthority('admin:dept:save')"
                class="layui-btn layui-btn-sm layui-btn-normal add-btn"
                lay-event="saveDeptInfo" id="headBarTool">
            <i class="layui-icon"></i>新增
        </button>
        <button class="layui-btn layui-btn-sm layui-btn-normal add-btn"
                lay-event="downloadDeptInfo">
            <i class="layui-icon layui-icon-download-circle"></i>下载
        </button>
    </div>
</script>

<!-- 操作工具栏 -->
<script type="text/html" id="toolbarHandle">
    <button sec:authorize="hasAuthority('admin:dept:view')"
            class="tool-bar-btn see-button" lay-event="view">
        <i class="layui-icon layui-icon-list"></i>查看
    </button>
    <button sec:authorize="hasAuthority('admin:dept:update')"
            class="tool-bar-btn edit-button" lay-event="update">
        <i class="layui-icon layui-icon-edit"></i>编辑
    </button>
    <button sec:authorize="hasAuthority('admin:dept:delete')"
            class="tool-bar-btn remove-button" lay-event="delete">
        <i class="layui-icon layui-icon-delete"></i>删除
    </button>
</script>

</body>
</html>