<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <th:block th:include="common/common::common('${functionName}')"/>
    <script th:src="@{/static${menuUrl}/index.js}" charset="utf-8"></script>
</head>
<body class="bg-color">

<!-- 表头工具栏 -->
<script type="text/html" id="toolbar">
    <div class="tool-head-bar">
        <div class="head-search" sec:authorize="hasAuthority('${permsPrefix}:query')">
            #foreach ($column in $columns)
                #set($field=$column.javaField)
                #set($dictType=$column.dictType)
                #set($comment=$column.columnComment)
                #if($column.isQuery == '1')
                    #if($column.htmlType == "radio" && "" != $column.dictType)
                        <select id="${field}" name="${field}" th:with="dicts=${@dict.data('${dictType}')}">
                            <option value="">请选择${comment}</option>
                            <option th:each="dict : ${dicts}"
                                    th:text="${dict.label}"
                                    th:value="${dict.value}">
                            </option>
                        </select>
                    #elseif($column.htmlType == "select" && "" != $column.dictType)
                        <select id="${field}" name="${field}" th:with="dicts=${@dict.data('${dictType}')}">
                            <option value="">请选择${comment}</option>
                            <option th:each="dict : ${dicts}"
                                    th:text="${dict.label}"
                                    th:value="${dict.value}">
                            </option>
                        </select>
                    #else
                        <input class="layui-input float_left" placeholder="${comment}"
                           id="${field}" name="${field}" autocomplete="off">
                    #end
                #end
            #end
            <button class="layui-btn layui-btn-sm layui-btn-normal search-btn float_left"
                    lay-event="search">
                <i class="layui-icon layui-icon-search"></i>搜索
            </button>
        </div>
        <button sec:authorize="hasAuthority('${permsPrefix}:save')"
                class="layui-btn layui-btn-sm layui-btn-normal add-btn"
                lay-event="save${ClassName}">
            <i class="layui-icon"></i>新增
        </button>
    </div>
</script>

<div class="body_info">
    <div class="data_div">
        <!-- 表格 -->
        <div class="layui_table">
            <table class="layui-hide" id="layTable" lay-filter="layFilter"></table>
            <div id="layPage"></div>
        </div>
    </div>
</div>

<!-- 操作工具栏 -->
<script type="text/html" id="toolbarHandle">
    <button sec:authorize="hasAuthority('${permsPrefix}:view')"
            class="tool-bar-btn see-button" lay-event="view">
        <i class="layui-icon layui-icon-list"></i>查看
    </button>
    <button sec:authorize="hasAuthority('${permsPrefix}:update')"
            class="tool-bar-btn edit-button" lay-event="update">
        <i class="layui-icon layui-icon-edit"></i>编辑
    </button>
    <button sec:authorize="hasAuthority('${permsPrefix}:delete')"
            class="tool-bar-btn remove-button" lay-event="delete">
        <i class="layui-icon layui-icon-delete"></i>删除
    </button>
</script>

</body>
</html>